In [2]:
import fitz
import numpy as np
import pandas as pd
from tqdm import tqdm

import io
from PIL import Image, ImageDraw, ImageFont, ImageColor

import math
import re

In [3]:
vol1_path = '../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 1.pdf'
vol2_path = '../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 2.pdf'
vol3_path = '../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 3.pdf'

vol1_doc = fitz.open(vol1_path)
vol2_doc = fitz.open(vol2_path)
vol3_doc = fitz.open(vol3_path)

vol1_pages = [vol1_doc[i] for i in range(vol1_doc.page_count)]
vol2_pages = [vol2_doc[i] for i in range(vol2_doc.page_count)]
vol3_pages = [vol3_doc[i] for i in range(vol3_doc.page_count)]

In [4]:
vol1_char_df = pd.read_pickle("../input/char_df/vol1_df.pkl")
vol2_char_df = pd.read_pickle("../input/char_df/vol2_df.pkl")
vol3_char_df = pd.read_pickle("../input/char_df/vol3_df.pkl")

vol1_index = list(range(616, 639)) #inclusive
vol2_index = list(range(703, 725))
vol3_index = list(range(555, 583))

In [5]:
TARGET_DPI = 300
mat = fitz.Matrix(TARGET_DPI/ 72, TARGET_DPI/ 72)

### finding the columns 
### & checking if a word is a strict match for the genus / epithet pattern

In [6]:
def epithet_match(row):
    return row['word_num'] == 0 and \
           row['word'].isalpha() and \
           row['word'].islower()

def genus_match(row):
    return row['word_num'] == 0 and \
           row['word'].isalpha() and \
           row['word'][0].isupper() and row['word'][1:].islower()

In [7]:
#rightmost point of any bounding box:
def get_center_x0(vol_char_df, page_num, bias = 30):
    """WARNING: large bias causes miscatagorization in page number in book"""
    df = vol_char_df[vol_char_df['page_num'] == page_num]
    
    right_bound = df['line_bbox'].apply(lambda x : x[2]).max() 
    #leftmost point of any bounding box:
    left_bound = df['line_bbox'].apply(lambda x : x[0]).min()

    return 0.5*(right_bound + left_bound) - bias


def get_col_num(coords, center_x0):
    x0, y0, x1, y1 = coords
    return int(x0 >= center_x0)


all_vol_data = [(vol1_char_df, vol1_index, vol1_doc),
                (vol2_char_df, vol2_index, vol2_doc),
                (vol3_char_df, vol3_index, vol3_doc)]

for vol_char_df ,vol_index, doc in all_vol_data: 
    #for each volume check if genus pattern / epithet pattern exists within the index part of the book
    vol_char_df['genus_index_pat_match'] = vol_char_df.apply(lambda r : r['page_num'] in vol_index and genus_match(r), axis = 1) #does this for whole books which is bad
    vol_char_df['epithet_index_pat_match'] = vol_char_df.apply(lambda r : r['page_num'] in vol_index and epithet_match(r), axis = 1) #does this for whole books which is bad
    
    for page_num in tqdm(vol_index):
        center_x0 = get_center_x0(vol_char_df, page_num)
        #find center based on x0 coordinate of each line
        vol_char_df['col_num'] = vol_char_df['line_bbox'].apply(lambda coords : get_col_num(coords, center_x0))

100%|██████████| 23/23 [00:13<00:00,  1.72it/s]
100%|██████████| 22/22 [00:14<00:00,  1.56it/s]
100%|██████████| 28/28 [00:14<00:00,  1.91it/s]

#### testing if col num correctly assigned

In [8]:
all_vol_data = [(vol1_char_df, vol1_index, vol1_doc, "index_col_vol1"),
                (vol2_char_df, vol2_index, vol2_doc, "index_col_vol2"),
                (vol3_char_df, vol3_index, vol3_doc, "index_col_vol3")]

for vol_char_df, vol_index, vol_doc, output_name in all_vol_data:
    image_list = []
    keep_cols = vol_char_df.columns.difference(["char_num", "char", "char_origin", "char_bbox", "char_x0", "char_y0", "char_x1", "char_y1", "pruned_char_x0", "pruned_char_y0", "pruned_char_x1", "pruned_char_y1"], sort=False).tolist()
    for page_num in tqdm(vol_index):
        pix_map = vol_doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)

        temp_df = vol_char_df[vol_char_df["page_num"] == page_num].loc[:, keep_cols].drop_duplicates()

        for coord in temp_df[temp_df['col_num'] == 0]['line_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)

        for coord in temp_df[temp_df['col_num'] == 1]['line_bbox']:
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#003399"), width=5)
            
        image_list.append(image)
        #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 23/23 [00:04<00:00,  5.58it/s]
100%|██████████| 22/22 [00:03<00:00,  5.59it/s]
100%|██████████| 28/28 [00:04<00:00,  5.87it/s]

### Genus / epithet flagging 
flagging pages where number of strict genus or epithet patern matches is less than 3 per column

In [9]:
all_vol_data = [(vol1_char_df, vol1_index, vol1_doc, "strickt_match_vol1"),
                (vol2_char_df, vol2_index, vol2_doc, "strickt_match_vol2"),
                (vol3_char_df, vol3_index, vol3_doc, "strickt_match_vol3")]

for vol_char_df, vol_index, doc, output_name in all_vol_data: 
    #for each volume 
    image_list = []
    genus_flag_list = []
    epithet_flag_list = []
    for page_num in tqdm(vol_index):
        genus_db = vol_char_df[(vol_char_df['page_num'] == page_num)
                                & (vol_char_df['genus_index_pat_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        epithet_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
                                & (vol_char_df['epithet_index_pat_match'] == True)
                                ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                ].drop_duplicates()

        #genus pattern match flag should check with half page and not entire page:
        for col in range(2):
            num_genus_col = genus_db[genus_db["col_num"] == col].shape[0]
            num_epithet_col = epithet_db[epithet_db["col_num"] == col].shape[0]
            if num_genus_col <= 2:
                genus_flag_list.append((num_genus_col, page_num - vol_index[0] + 1, col))
            if num_epithet_col <= 2:
                epithet_flag_list.append((num_epithet_col, page_num - vol_index[0] + 1, col))
    num_flag_pages = len(set([g[1] for g in genus_flag_list] + [e[1] for e in epithet_flag_list]))
    if num_flag_pages > 0: 
        print("***FLAGS***")
        print(f" number of pages to check: {num_flag_pages}")
        if genus_flag_list:
            print("  genera")
            [print(f"\t number of genera: {g_flag[0]}, page number: {g_flag[1]}, column number: {g_flag[2]}") for g_flag in genus_flag_list]
        if epithet_flag_list:
            print("  epithets")
            [print(f"\t number of epithets: {e_flag[0]}, page number: {e_flag[1]}, column number: {e_flag[2]}") for e_flag in epithet_flag_list]

100%|██████████| 23/23 [00:00<00:00, 82.67it/s]

***FLAGS***
 number of pages to check: 4
  genera
	 number of genera: 1, page number: 2, column number: 0
	 number of genera: 2, page number: 15, column number: 1
	 number of genera: 0, page number: 20, column number: 1
	 number of genera: 1, page number: 23, column number: 0
  epithets
	 number of epithets: 2, page number: 23, column number: 1

100%|██████████| 22/22 [00:00<00:00, 78.12it/s]

***FLAGS***
 number of pages to check: 4
  genera
	 number of genera: 2, page number: 4, column number: 0
	 number of genera: 1, page number: 4, column number: 1
	 number of genera: 0, page number: 5, column number: 0
	 number of genera: 1, page number: 12, column number: 0
	 number of genera: 2, page number: 14, column number: 1

100%|██████████| 28/28 [00:00<00:00, 90.61it/s]

***FLAGS***
 number of pages to check: 7
  genera
	 number of genera: 1, page number: 2, column number: 1
	 number of genera: 0, page number: 6, column number: 0
	 number of genera: 1, page number: 21, column number: 0
	 number of genera: 1, page number: 22, column number: 0
	 number of genera: 2, page number: 24, column number: 1
	 number of genera: 2, page number: 26, column number: 0
	 number of genera: 0, page number: 26, column number: 1
	 number of genera: 2, page number: 28, column number: 0

### match  based on coordinates

In [10]:
def is_coord_match(x, x_ref_left, x_ref_right, margin):
    return (x_ref_left - margin <= x[0] and x[0] <= x_ref_left + margin) or (x_ref_right - margin <= x[0] and x[0] <= x_ref_right + margin)

#### epithet

In [11]:
all_vol_data = [(vol1_char_df, vol1_index),
                (vol2_char_df, vol2_index),
                (vol3_char_df, vol3_index)]

for vol_char_df, vol_index in all_vol_data: 
    vol_char_df["epithet_coord_match"] = vol_char_df["word_bbox"].apply(lambda x : False)
    for page_num in tqdm(vol_index):
        margin = 1.25 * vol_char_df[(vol_char_df["epithet_index_pat_match"] == True)]["char_bbox"].apply(lambda x : x[2] - x[0]).mean()
        epithet_char_df = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["epithet_index_pat_match"] == True)]
        epithet_df = epithet_char_df.loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin", "char_bbox"])].drop_duplicates()
        page_epithet_2dic = [{}, {}]
        
        for i in range(epithet_df.shape[0]):
            e_index = str(page_num) + "_" + str(i)
            p0 = epithet_df['word_bbox'].iloc[i]
            x_ref = p0[0]
            col = epithet_df['col_num'].iloc[i]

            ref_neighbors_df = epithet_df[(epithet_df["page_num"] == page_num) & 
                                          (epithet_df["word_bbox"].apply(lambda x : x_ref - margin <= x[0] and x[0] <= x_ref + margin))]
            
            num_neighbors = ref_neighbors_df.shape[0]
            mean_neighbors = ref_neighbors_df["word_bbox"].apply(lambda x : x[0]).mean()
            page_epithet_2dic[col][e_index] = (num_neighbors, mean_neighbors)
        
        mean_left_epithet = max(page_epithet_2dic[0].values(), default = [-1, -1])[1]
        mean_right_epithet = max(page_epithet_2dic[1].values(), default = [-1, -1])[1]

        if mean_left_epithet == -1 or mean_right_epithet == -1:
            mean_valid_col = max(mean_left_epithet, mean_right_epithet)
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "epithet_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : is_coord_match(x, mean_valid_col, mean_valid_col, margin))
        elif mean_left_epithet == -1 and mean_right_epithet == -1:
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "epithet_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : False)
        else: 
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "epithet_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : is_coord_match(x, mean_left_epithet, mean_right_epithet, margin))

100%|██████████| 23/23 [00:01<00:00, 22.33it/s]
100%|██████████| 22/22 [00:01<00:00, 21.02it/s]
100%|██████████| 28/28 [00:01<00:00, 23.81it/s]

In [12]:
all_vol_data = [(vol1_char_df, vol1_index, vol1_doc, "epithet_coord_match_pruned_vol1"),
                (vol2_char_df, vol2_index, vol2_doc, "epithet_coord_match_pruned_vol2"),
                (vol3_char_df, vol3_index, vol3_doc, "epithet_coord_match_pruned_vol3")]

for vol_char_df, vol_index, doc, output_name in all_vol_data: 
    #for each volume 
    image_list = []
    
    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)
        
        epithet_coord_db = vol_char_df[(vol_char_df['page_num'] == page_num) & 
                                     (vol_char_df['epithet_coord_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        epithet_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
                                & (vol_char_df['epithet_index_pat_match'] == True)
                                ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                ].drop_duplicates()

        #epithet Coord is orange-pinkish, 5
        for coord in epithet_coord_db["pruned_word_bbox"] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)

        #epithet is blue, 3
        for coord in epithet_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#003399"), width=3)
        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 23/23 [00:04<00:00,  5.60it/s]
100%|██████████| 22/22 [00:03<00:00,  5.66it/s]
100%|██████████| 28/28 [00:04<00:00,  5.89it/s]

#### Genus coord match

In [13]:
# add something about genus should come before epithet? 
    # assert df[df['epithet_coord_match'] == True]['word_bbox'].apply(lambda x: x[0]).mean() 
    #     >  df[df['genus_coord_match'] == True]['word_bbox'].apply(lambda x: x[0]).mean() 
    # and if False it shouldn't be a genus_coord?

In [42]:
all_vol_data = [(vol1_char_df, vol1_index),
                (vol2_char_df, vol2_index),
                (vol3_char_df, vol3_index)]

for vol_char_df, vol_index in all_vol_data: 
    #genus and not epithet
    vol_char_df["genus_coord_match"] = vol_char_df["word_bbox"].apply(lambda x : False)
    for page_num in tqdm(vol_index):
        margin = 1.25 * vol_char_df[(vol_char_df["genus_index_pat_match"] == True)]["char_bbox"].apply(lambda x : x[2] - x[0]).mean()
        genus_char_df = vol_char_df[(vol_char_df["page_num"] == page_num) &
                                    (vol_char_df["genus_index_pat_match"] == True)]
        genus_df = genus_char_df.loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin", "char_bbox"])].drop_duplicates()
        page_genus_2dic = [{}, {}]
        
        epithet_left_coord_mean = vol_char_df[(vol_char_df["epithet_coord_match"] == True) &
                                              (vol_char_df["page_num"] == page_num) &
                                              (vol_char_df["col_num"] == 0)
                                             ]['pruned_word_bbox'].apply(lambda x : x[0]).mean()
        epithet_right_coord_mean = vol_char_df[(vol_char_df["epithet_coord_match"] == True) &
                                               (vol_char_df["page_num"] == page_num) &
                                               (vol_char_df["col_num"] == 1)
                                             ]['pruned_word_bbox'].apply(lambda x : x[0]).mean()
        epithet_coord_mean_list = [epithet_left_coord_mean, epithet_right_coord_mean]

        for i in range(genus_df.shape[0]):
            g_index = str(page_num) + "_" + str(i)
            p0 = genus_df['word_bbox'].iloc[i]
            x_ref = p0[0]
            col = genus_df['col_num'].iloc[i]

            ref_neighbors_df = genus_df[(genus_df["page_num"] == page_num) & 
                                        (genus_df["word_bbox"].apply(lambda x : x_ref - margin <= x[0] and x[0] <= x_ref + margin))]

            num_neighbors = ref_neighbors_df.shape[0]
            mean_neighbors = ref_neighbors_df["word_bbox"].apply(lambda x : x[0]).mean()
            if mean_neighbors > epithet_coord_mean_list[col]: 
                mean_neighbors = -1
            page_genus_2dic[col][g_index] = (num_neighbors, mean_neighbors)
        
        mean_left_genus = max(page_genus_2dic[0].values(), default = [-1, -1])[1]
        mean_right_genus = max(page_genus_2dic[1].values(), default = [-1, -1])[1]

        if mean_left_genus == -1 or mean_right_genus == -1:
            mean_valid_col = max(mean_left_genus, mean_right_genus)
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "genus_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : is_coord_match(x, mean_valid_col, mean_valid_col, margin))
        elif mean_left_genus == -1 and mean_right_genus == -1:
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "genus_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : False)
        else: 
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "genus_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : is_coord_match(x, mean_left_genus, mean_right_genus, margin))

100%|██████████| 23/23 [00:00<00:00, 29.64it/s]
100%|██████████| 22/22 [00:00<00:00, 27.50it/s]
100%|██████████| 28/28 [00:00<00:00, 33.39it/s]

In [43]:
all_vol_data = [(vol1_char_df, vol1_index, vol1_doc, "genus_coord_match_vol1"),
                (vol2_char_df, vol2_index, vol2_doc, "genus_coord_match_vol2"),
                (vol3_char_df, vol3_index, vol3_doc, "genus_coord_match_vol3")]

for vol_char_df, vol_index, doc, output_name in all_vol_data: 
    #for each volume 
    image_list = []

    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)
        

        genus_coord_db = vol_char_df[(vol_char_df['page_num'] == page_num) & 
                                     (vol_char_df['genus_coord_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        epithet_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
                                & (vol_char_df['epithet_coord_match'] == True)
                                ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                ].drop_duplicates()

        #genus Coord is orange-pinkish, 5
        for coord in genus_coord_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)
            
        # #epithet is red, 3
        for coord in epithet_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#000099"), width=3)
        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 23/23 [00:04<00:00,  5.57it/s]
100%|██████████| 22/22 [00:03<00:00,  5.62it/s]
100%|██████████| 28/28 [00:04<00:00,  5.79it/s]

### Add column for genus / epithet coord mean for each page

In [26]:
# all_vol_data = [(vol1_char_df, vol1_index),
#                 (vol2_char_df, vol2_index),
#                 (vol3_char_df, vol3_index)]
# for vol_char_df, vol_index in all_vol_data:
#     for page_num in vol_index:
#         for c_i in [0, 1]:
#             genus_mean_coord = vol_char_df[(vol_char_df['page_num'] == page_num) & (vol_char_df['genus_coord_match'] == True) & (vol_char_df['col_num'] == c_i)]['word_bbox'].apply(lambda x: x[0]).mean()
#             epithet_mean_coord = vol_char_df[(vol_char_df['page_num'] == page_num) & (vol_char_df['epithet_coord_match'] == True) & (vol_char_df['col_num'] == c_i)]['word_bbox'].apply(lambda x: x[0]).mean()
        
#             #doing this because you can have no genus in one page but not no genus but an epithet...
#             if np.isnan(genus_mean_coord):
#                 genus_mean_coord == 0
#             if np.isnan(epithet_mean_coord):
#                 epithet_mean_coord = 1

#             vol_char_df.loc[(vol_char_df['page_num'] == page_num) & (vol_char_df['col_num'] == c_i), 'genus_mean_coord'] = genus_mean_coord
#             vol_char_df.loc[(vol_char_df['page_num'] == page_num) & (vol_char_df['col_num'] == c_i), 'epithet_mean_coord'] = epithet_mean_coord

### extract potential genus / epithet matches

In [44]:
def potential_genus_match(row):
    return row['genus_coord_match'] == True and \
           row['epithet_coord_match'] == False and \
           row['word'].isupper() == False and \
           row['word'].isnumeric() == False and \
           row['word'].find("Flore") == -1 
           # removing this for now ... and row['genus_mean_coord'] < row['epithet_mean_coord'] #important to check this only when epithet_coord_match is false?

def potential_epithet_match(row):
    return row['epithet_coord_match'] == True and \
           row['word'].isupper() == False and \
           row['word'].isnumeric() == False

In [45]:
vol1_char_df['potential_genus_match'] = vol1_char_df.apply(potential_genus_match, axis = 1)
vol1_char_df['potential_epithet_match'] = vol1_char_df.apply(potential_epithet_match, axis = 1)

vol2_char_df['potential_genus_match'] = vol2_char_df.apply(potential_genus_match, axis = 1)
vol2_char_df['potential_epithet_match'] = vol2_char_df.apply(potential_epithet_match, axis = 1)

vol3_char_df['potential_genus_match'] = vol3_char_df.apply(potential_genus_match, axis = 1)
vol3_char_df['potential_epithet_match'] = vol3_char_df.apply(potential_epithet_match, axis = 1)

In [47]:
all_vol_data = [(vol1_char_df, vol1_index, vol1_doc, "GE_potential_match_vol1"),
                (vol2_char_df, vol2_index, vol2_doc, "GE_potential_match_vol2"),
                (vol3_char_df, vol3_index, vol3_doc, "GE_potential_match_vol3")]

for vol_char_df, vol_index, doc, output_name in all_vol_data: 
    #for each volume 
    image_list = []

    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)
        
        genus_db = vol_char_df[(vol_char_df['page_num'] == page_num) & 
                                     (vol_char_df['potential_genus_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        epithet_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
                                & (vol_char_df['potential_epithet_match'] == True)
                                ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                ].drop_duplicates()

        #genus Coord is orange-pinkish, 5
        for coord in genus_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)
            
        # #epithet is red, 3
        for coord in epithet_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#000099"), width=3)
        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 23/23 [00:04<00:00,  5.52it/s]
100%|██████████| 22/22 [00:03<00:00,  5.66it/s]
100%|██████████| 28/28 [00:04<00:00,  5.78it/s]

In [ ]:
# all_vol_data = [(vol1_char_df, vol1_index),
#                 (vol2_char_df, vol2_index),
#                 (vol3_char_df, vol3_index)]
# for vol_char_df, vol_index in all_vol_data:
#     for page_num in vol_index: 
#         for col_num in [0,1]:
#             if vol_char_df["genus_mean_coord"]
#                 print(page_num, col_num)

### infra species

In [48]:
all_vol_data = [(vol1_char_df, vol1_index),
                (vol2_char_df, vol2_index),
                (vol3_char_df, vol3_index)]

for vol_char_df, vol_index in all_vol_data: 
    vol_char_df["infra_coord_match"] = vol_char_df["word_bbox"].apply(lambda x : False)
    for page_num in tqdm(vol_index):

        margin = 1.25 * vol_char_df[(vol_char_df["epithet_coord_match"] == True) | (vol_char_df["genus_coord_match"] == True)]["char_bbox"].apply(lambda x : x[2] - x[0]).mean()
        
        mean_left_epithet = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 0) & (vol_char_df["epithet_coord_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        mean_left_genus = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 0) & (vol_char_df["genus_coord_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        if math.isnan(mean_left_genus):
            mean_left_genus_all = vol_char_df[(vol_char_df["col_num"] == 0) & (vol_char_df["genus_coord_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_left_epithet_all = vol_char_df[(vol_char_df["col_num"] == 0) & (vol_char_df["epithet_coord_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_left_tab = mean_left_epithet_all - mean_left_genus_all
        else: 
            mean_left_tab = mean_left_epithet - mean_left_genus
        
        mean_right_epithet = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 1) & (vol_char_df["epithet_coord_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        mean_right_genus = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 1) & (vol_char_df["genus_coord_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        if math.isnan(mean_right_genus):
            mean_right_genus_all = vol_char_df[(vol_char_df["col_num"] == 1) & (vol_char_df["genus_coord_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_right_epithet_all = vol_char_df[(vol_char_df["col_num"] == 1) & (vol_char_df["epithet_coord_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_right_tab = mean_right_epithet_all - mean_right_genus_all
        else: 
            mean_right_tab = mean_right_epithet - mean_right_genus

        vol_char_df.loc[(vol_char_df["page_num"] == page_num) & (vol_char_df["word_num"] == 0)  , "infra_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["word_num"] == 0)]["pruned_word_bbox"].apply(lambda x : is_coord_match(x, mean_left_epithet + mean_left_tab, mean_right_epithet + mean_right_tab, margin))

100%|██████████| 23/23 [00:01<00:00, 19.57it/s]
100%|██████████| 22/22 [00:01<00:00, 19.74it/s]
100%|██████████| 28/28 [00:01<00:00, 22.34it/s]

In [49]:
all_vol_data = [(vol1_char_df, vol1_index),
                (vol2_char_df, vol2_index),
                (vol3_char_df, vol3_index)]

for vol_char_df, vol_index in all_vol_data: 
    vol_char_df["infra_coord_match"] = vol_char_df["word_bbox"].apply(lambda x : False)
    for page_num in tqdm(vol_index):

        margin = 1.25 * vol_char_df[(vol_char_df["potential_epithet_match"] == True) | (vol_char_df["potential_genus_match"] == True)]["char_bbox"].apply(lambda x : x[2] - x[0]).mean()
        
        mean_left_epithet = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 0) & (vol_char_df["potential_epithet_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        mean_left_genus = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 0) & (vol_char_df["potential_genus_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        if math.isnan(mean_left_genus):
            mean_left_genus_all = vol_char_df[(vol_char_df["col_num"] == 0) & (vol_char_df["potential_genus_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_left_epithet_all = vol_char_df[(vol_char_df["col_num"] == 0) & (vol_char_df["potential_epithet_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_left_tab = mean_left_epithet_all - mean_left_genus_all
        else: 
            mean_left_tab = mean_left_epithet - mean_left_genus
        
        mean_right_epithet = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 1) & (vol_char_df["potential_epithet_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        mean_right_genus = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 1) & (vol_char_df["potential_genus_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        if math.isnan(mean_right_genus):
            mean_right_genus_all = vol_char_df[(vol_char_df["col_num"] == 1) & (vol_char_df["potential_genus_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_right_epithet_all = vol_char_df[(vol_char_df["col_num"] == 1) & (vol_char_df["potential_epithet_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_right_tab = mean_right_epithet_all - mean_right_genus_all
        else: 
            mean_right_tab = mean_right_epithet - mean_right_genus


        vol_char_df.loc[(vol_char_df["page_num"] == page_num) & (vol_char_df["word_num"] == 0)  , "infra_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["word_num"] == 0)]["word_bbox"].apply(lambda x : is_coord_match(x, mean_left_epithet + mean_left_tab, mean_right_epithet + mean_right_tab, margin))

100%|██████████| 23/23 [00:01<00:00, 21.99it/s]
100%|██████████| 22/22 [00:01<00:00, 19.73it/s]
100%|██████████| 28/28 [00:01<00:00, 22.96it/s]

In [50]:
def potential_author_match_infra_coord(word):
    lower_word = word.lower()
    latin_connectives = r"^\s?et[\s|.]?$|^\s?in[\s|.]?$|^\s?non[\s|.]?$|^\s?&[\s|.]?$|^\s?er[\s|.]?$|^\s?nec[\s|.]?$|^\s?mult[\s|.]?$|^\s?ex[\s|.]?$|^\s?fil[\s|.]?$"
    infra_symbols = r"^var[\s|.|\b]?$|^subsp[\s|.|\b]?$|^ssp[\s|.|\b]?$|^spp[\s|.|\b]?$|^x[\s|.|\b]?$|^×[\s|.|\b]?$"
    is_latin_connectives = re.search(latin_connectives, word) != None
    is_infra_symbol = re.search(infra_symbols, lower_word) != None
    return (not is_infra_symbol) and (word[0].isupper() or is_latin_connectives)

In [51]:
potential_author_match_infra_coord("fil.")

True

In [52]:
all_vol_data = [(vol1_char_df, vol1_index),
                (vol2_char_df, vol2_index),
                (vol3_char_df, vol3_index)]
for vol_char_df, _ in all_vol_data:
    vol_char_df["potential_infra_match"] = (vol_char_df["infra_coord_match"] == True) & (vol_char_df['word'].apply(potential_author_match_infra_coord) == False)

In [53]:
def has_infra_symbols(word):
    infra_symbols = r"^var[\s|.|\b]?$|^subsp[\s|.|\b]?$|^ssp[\s|.|\b]?$|^spp[\s|.|\b]?$|^x[\s|.|\b]?$|^×[\s|.|\b]?$"
    return re.search(infra_symbols, word) != None

In [54]:
all_vol_data = [(vol1_char_df, vol1_index, vol1_doc, "potential_infra_match_vol1"),
                (vol2_char_df, vol2_index, vol2_doc, "potential_infra_match_vol2"),
                (vol3_char_df, vol3_index, vol3_doc, "potential_infra_match_vol3")][::-1]

for vol_char_df, vol_index, doc, output_name in all_vol_data: 
    #for each volume 
    image_list = []

    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)
        

        infra_coord_db = vol_char_df[(vol_char_df['page_num'] == page_num) & 
                                     (vol_char_df['infra_coord_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        infra_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
                                & (vol_char_df['potential_infra_match'] == True)
                                ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                ].drop_duplicates()

        with_infra_symbols = vol_char_df[(vol_char_df['page_num'] == page_num) &
                                         (vol_char_df['infra_coord_match'] == True) & 
                                         (vol_char_df['word'].apply(has_infra_symbols) == True)
                                        ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                        ].drop_duplicates()

        #genus Coord is orange-pinkish, 5
        for coord in infra_coord_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0-5, y0-5, x1+5, y1+5), fill=None, outline=ImageColor.getrgb("#003399"), width=7)

        for coord in infra_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0-3, y0-3, x1+3, y1+3), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)
            
        # #epithet is red, 3
        for coord in with_infra_symbols['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#990000"), width=3)

        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 28/28 [00:24<00:00,  1.12it/s]
100%|██████████| 22/22 [00:22<00:00,  1.03s/it]
100%|██████████| 23/23 [00:21<00:00,  1.05it/s]

### functions for author matching 
to detect anamolies in epithet and infra indentations

In [55]:
vol1_char_df['index_page_num'] = vol1_char_df['page_num'] - vol1_index[0] + 1
vol2_char_df['index_page_num'] = vol2_char_df['page_num'] - vol2_index[0] + 1
vol3_char_df['index_page_num'] = vol3_char_df['page_num'] - vol3_index[0] + 1

In [56]:
vol1_char_df[(vol1_char_df['potential_infra_match'] == True) & (vol1_char_df['word'].apply(has_infra_symbols) == False)][["index_page_num", "word"]].drop_duplicates()

Empty DataFrame
Columns: [index_page_num, word]
Index: []

In [57]:
vol2_char_df[(vol2_char_df['potential_infra_match'] == True) & (vol2_char_df['word'].apply(has_infra_symbols) == False)][["index_page_num", "word"]].drop_duplicates()

Empty DataFrame
Columns: [index_page_num, word]
Index: []

In [58]:
vol3_char_df[(vol3_char_df['potential_infra_match'] == True) & (vol3_char_df['word'].apply(has_infra_symbols) == False)][["index_page_num", "word"]].drop_duplicates()

         index_page_num         word
1559345               3           (3
1559874               3           f.
1561502               4           fa
1566359               6       deris
1570483               8         cock
1576678              11           f.
1578491              12       picha
1581443              13  adoxifolium
1582167              14        fil.
1584378              15         yar.
1587338              16           f.
1589927              17           f.
1592932              19           f.
1594835              20     turcicus
1596384              20            y
1598587              22      berlain

#### upper case beggining / latin words in epithet coordd

In [59]:
def potential_author_match_epithet_coord(word):
    latin_connectives = r"^\s?et[\s|.]?$|^\s?in[\s|.]?$|^\s?non[\s|.]?$|^\s?&[\s|.]?$|^\s?er[\s|.]?$|^\s?nec[\s|.]?$|^\s?mult[\s|.]?$|^\s?ex[\s|.]?$|^\s?fil[\s|.]?$|^\s?f[\s|.]?$"
    is_latin_connectives = re.search(latin_connectives, word) != None
    is_hybrid = word == "X"
    return is_latin_connectives or (word[0].isupper() and (not is_hybrid))

In [60]:
vol1_char_df[(vol1_char_df['potential_epithet_match'] == True) & (vol1_char_df['word'].apply(potential_author_match_epithet_coord))][["index_page_num", "word"]].drop_duplicates()

         index_page_num         word
1734317               9  J.d,IlLIlU.
1753028              18    Phoenicia
1753527              18     Syriacus
1755122              19   Jilicaulis

In [61]:
vol2_char_df[(vol2_char_df['potential_epithet_match'] == True) & (vol2_char_df['word'].apply(potential_author_match_epithet_coord))][["index_page_num", "word"]].drop_duplicates()

         index_page_num        word
1915513               4  Hbanoticus
1922530               8       Hppii
1937158              14          Ma

In [62]:
vol3_char_df[(vol3_char_df['potential_epithet_match'] == True) & (vol3_char_df['word'].apply(potential_author_match_epithet_coord))][["index_page_num", "word"]].drop_duplicates()

         index_page_num               word
1554632               1  Krascheninnikovii
1565497               6          Wagenitz
1566524               6           Fritsch
1575185              10              Holub
1575488              11             Holub
1577207              11                 et
1578956              12         Eichwaldii
1579044              12           Schrank
1582101              14            Kuntze
1583001              14             Kuntze
1584639              15    Majoranamaracus
1586349              16     Schiman-Czeika
1586394              16             Czeika
1592464              19             Berth.
1603606              24      DOteriifolium
1608442              26             Turra
1609136              26           Moretti,
1610970              27           Fischer
1611185              27                non

#### epithet coord word has uppper case in the middle (but not the first letter)

In [63]:
def has_upper_not_first(word):
    return word[1:].lower() != word[1:]

In [64]:
vol1_char_df[(vol1_char_df['potential_epithet_match'] == True) & (vol1_char_df['word'].apply(has_upper_not_first))][["index_page_num", "word"]].drop_duplicates()

         index_page_num              word
1716055               1  peregrina(Hack.)
1716156               1        umbeUulata
1734317               9       J.d,IlLIlU.
1734633               9        elatior'L.
1736494              10           sessUis
1737303              11       pilosaHuds.
1741588              13  phleoides^Vill.)
1747388              15            albaL.
1752078              18           aegUops
1752829              18        glaucaVahl
1761043              22        auCheriana

In [65]:
vol2_char_df[(vol2_char_df['potential_epithet_match'] == True) & (vol2_char_df['word'].apply(has_upper_not_first))][["index_page_num", "word"]].drop_duplicates()

         index_page_num                            word
1914061               4            corîdûpUcaÈu^Sretoï.
1917935               6                 securidacaiÇL.)
1941855              17  corymbulosum(Planch.)Reichenb.
1953489              22                       aqUatilis

In [66]:
vol3_char_df[(vol3_char_df['potential_epithet_match'] == True) & (vol3_char_df['word'].apply(has_upper_not_first))][["index_page_num", "word"]].drop_duplicates()

         index_page_num             word
1568523               7      gaiUardotii
1579879              13          albu^L.
1585656              15        sieberiC.
1586349              16   Schiman-Czeika
1597633              21     desertiTUéh.
1603606              24    DOteriifolium
1608206              26   agMmoniifolium
1612787              28  'Abd-el-'asissi

potential genus match but name is not alphabetic or is of length < 3

In [67]:
def flag_genus_name(word):
    word_no_space = word.replace(" ", "")
    return ((not word_no_space.isalpha()) or (len(word_no_space) < 3))

In [68]:
vol1_char_df[(vol1_char_df['potential_genus_match'] == True) & (vol1_char_df['word'].apply(flag_genus_name))][["index_page_num", "word"]].drop_duplicates()

         index_page_num word
1730943               8    c
1738656              11    f
1754704              19   j.

In [70]:
vol2_char_df[(vol2_char_df['potential_genus_match'] == True) & (vol2_char_df['word'].apply(flag_genus_name))][["index_page_num", "word"]].drop_duplicates()

         index_page_num            word
1921256               7  •Ceratophyllum
1921779               7    Chelidonium^
1939484              16       Jussiaea-
1939606              16         VV.1l.*

In [71]:
vol3_char_df[(vol3_char_df['potential_genus_match'] == True) & (vol3_char_df['word'].apply(flag_genus_name))][["index_page_num", "word"]].drop_duplicates()

         index_page_num        word
1559728               3  BallotaL.
1569974               8   CordiaL.
1584638              15           x
1601635              23  SolidagoL.

flag if we had 2 genus in the same line or 1 or more genus + 1 or more epithet on the same line

In [72]:
#doesn't pick up all the issues because sometimes when the space if large enough 
# it thinks we're on a "new line"

In [73]:
line_groups = [c for c in vol1_char_df.columns if c.startswith("vol")] + \
              [c for c in vol1_char_df.columns if c.startswith("page")] + \
              [c for c in vol1_char_df.columns if c.startswith("block")] +\
              [c for c in vol1_char_df.columns if c.startswith("line")]
              
line_group_df = vol1_char_df.groupby(line_groups)
temp_line_df = vol1_char_df[line_group_df['potential_genus_match'].transform('any') & line_group_df['potential_epithet_match'].transform('any')]
temp_line_df[(temp_line_df['potential_genus_match'] == True) | (temp_line_df['potential_epithet_match'] == True)][["page_num", "block_num", "line_num", "word"]].drop_duplicates()

         page_num  block_num  line_num  word
1754704       634         29         0    j.
1754706       634         29         0  kali
1762657       638         19         0   Zea
1762660       638         19         0  mays

In [76]:
line_groups = [c for c in vol2_char_df.columns if c.startswith("vol")] + \
              [c for c in vol2_char_df.columns if c.startswith("page")] + \
              [c for c in vol2_char_df.columns if c.startswith("block")] +\
              [c for c in vol2_char_df.columns if c.startswith("line")]
              
line_group_df = vol2_char_df.groupby(line_groups)
temp_line_df = vol2_char_df[line_group_df['potential_genus_match'].transform('any') & line_group_df['potential_epithet_match'].transform('any')]
temp_line_df[(temp_line_df['potential_genus_match'] == True) | (temp_line_df['potential_epithet_match'] == True)][["page_num", "block_num", "line_num", "word"]].drop_duplicates()

Empty DataFrame
Columns: [page_num, block_num, line_num, word]
Index: []

In [77]:
line_groups = [c for c in vol3_char_df.columns if c.startswith("vol")] + \
              [c for c in vol3_char_df.columns if c.startswith("page")] + \
              [c for c in vol3_char_df.columns if c.startswith("block")] +\
              [c for c in vol3_char_df.columns if c.startswith("line")]
              
line_group_df = vol3_char_df.groupby(line_groups)
temp_line_df = vol3_char_df[line_group_df['potential_genus_match'].transform('any') & line_group_df['potential_epithet_match'].transform('any')]
temp_line_df[(temp_line_df['potential_genus_match'] == True) | (temp_line_df['potential_epithet_match'] == True)][["page_num", "block_num", "line_num", "word"]].drop_duplicates()

         page_num  block_num  line_num             word
1584638       569         36         0                x
1584639       569         36         0  Majoranamaracus

### testing highlighting instead of making image:

page.add_highlight_annot(quads)

In [ ]:
vol3_char_df[''].apply()

### marking all values in the dataframe

In [82]:
import pandas as pd
import numpy as np

# Create example dataframe
df = pd.DataFrame({'A': [1, 4, 3, 6, 8],
                   'is_B': [False, True, False, True, False]})

# Find the row indices where 'is_B' is True
is_B_indices = df[df['is_B'] == True].index

# Define a function to find the closest 'is_B' row above and return the corresponding 'A' value
def find_closest_A_above_B(row):
    try:
        # Get the index of the next 'is_B' row above
        closest_index = df.loc[:row.name][df['is_B'] == True].iloc[-1].name
        # Return the corresponding 'A' value
        return df.loc[closest_index, 'A']
    except IndexError:
        # If there is no 'is_B' row above, return NaN
        return np.nan

# Add a new column 'closest_A_above_B' initialized with NaNs using the 'apply' method
df['closest_A_above_B'] = df.apply(find_closest_A_above_B, axis=1)

df

/var/folders/gg/rd0htpr953n8c6s3hcyh70kw0000gn/T/ipykernel_18207/1479234307.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  closest_index = df.loc[:row.name][df['is_B'] == True].iloc[-1].name

   A   is_B  closest_A_above_B
0  1  False                NaN
1  4   True                4.0
2  3  False                4.0
3  6   True                6.0
4  8  False                6.0

In [83]:
vol1_char_df.columns

Index(['vol_num', 'page_num', 'block_num', 'block_num_absolute', 'block_bbox',
       'line_num', 'line_wmode', 'line_dir', 'line_bbox', 'span_num',
       'span_size', 'span_flags', 'span_font', 'span_color', 'span_ascender',
       'span_descender', 'span_origin', 'span_bbox', 'word_num', 'word',
       'word_bbox', 'pruned_word', 'pruned_word_bbox', 'char_num', 'char',
       'char_origin', 'char_bbox', 'genus_index_pat_match',
       'epithet_index_pat_match', 'col_num', 'epithet_coord_match',
       'genus_coord_match', 'genus_mean_coord', 'epithet_mean_coord',
       'potential_genus_match', 'potential_epithet_match', 'infra_coord_match',
       'potential_infra_match', 'index_page_num'],
      dtype='object')

In [85]:
import pandas as pd
import numpy as np

# Create example dataframe
df = pd.DataFrame({'A': [1, 4, 3, 6, 8],
                   'is_B': [False, True, False, True, False]})

# Find the row indices where 'is_B' is True

df = vol1_char_df.copy()
genus_indecies = df[df['potential_genus_match'] == True].index

# Define a function to find the closest 'is_B' row above and return the corresponding 'A' value
def find_closest_A_above_B(row):
    try:
        # Get the index of the next 'is_B' row above
        closest_index = df.loc[:row.name][df['potential_genus_match'] == True].iloc[-1].name
        # Return the corresponding 'A' value
        return df.loc[closest_index, 'word']
    except IndexError:
        # If there is no 'is_B' row above, return NaN
        return np.nan

# Add a new column 'closest_A_above_B' initialized with NaNs using the 'apply' method

tqdm.pandas()
df['closest_genus'] = df.progress_apply(find_closest_A_above_B, axis=1)

  0%|          | 1/1764644 [00:01<492:22:47,  1.00s/it]/var/folders/gg/rd0htpr953n8c6s3hcyh70kw0000gn/T/ipykernel_18207/927029367.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  closest_index = df.loc[:row.name][df['potential_genus_match'] == True].iloc[-1].name
  8%|▊         | 147427/1764644 [05:44<1:02:58, 428.01it/s]

KeyboardInterrupt:

In [86]:
import pandas as pd
import numpy as np

# Create example dataframe
df = pd.DataFrame({'A': [1, 4, 3, 6, 8],
                   'is_B': [False, True, False, True, False]})

# Find the row indices where 'is_B' is True

df = vol1_char_df.copy()
genus_indecies = df[df['potential_genus_match'] == True].index

# Initialize an empty list to store the indices of the closest 'is_B' row above for each row in the dataframe
closest_index_list = []

# Loop over each row in the dataframe
for i, row in tqdm(df.iterrows()):
    # Use a binary search to find the closest index above with 'is_B' set to True
    closest_index = genus_indecies.searchsorted(i)
    # If the index is out of range, set it to the last index
    closest_index = closest_index if closest_index < len(genus_indecies) else len(genus_indecies)-1
    # Add the index to the list
    closest_index_list.append(genus_indecies[closest_index])
    
# Add a new column 'closest_A_above_B' to the dataframe
df['closest_genus'] = df.loc[closest_index_list, 'word'].values

# Print the updated dataframe

1764644it [00:41, 42396.73it/s]

        vol_num  page_num  block_num  block_num_absolute  \
0             1         0          0                   0
1             1         0          0                   0
2             1         0          0                   0
3             1         0          0                   0
4             1         0          0                   0
...         ...       ...        ...                 ...
1764639       1       641          5                   7
1764640       1       641          5                   7
1764641       1       641          5                   7
1764642       1       641          5                   7
1764643       1       641          5                   7

                                                block_bbox  line_num  \
0        (110.87999725341797, 127.92001342773438, 344.0...         0
1        (110.87999725341797, 127.92001342773438, 344.0...         0
2        (110.87999725341797, 127.92001342773438, 344.0...         0
3        (110.87999725341797, 127.92001342773438, 344.0...         0
4        (110.87999725341797, 127.92001342773438, 344.0...         0
...                                                    ...       ...
1764639  (134.63999938964844, 294.22998046875, 245.3221...         0
1764640  (134.63999938964844, 294.22998046875, 245.3221...         0
1764641  (134.63999938964844, 294.22998046875, 245.3221...         0
1764642  (134.63999938964844, 294.22998046875, 245.3221...         0
1764643  (134.63999938964844, 294.22998046875, 245.3221...         0

         line_wmode    line_dir  \
0                 0  (1.0, 0.0)
1                 0  (1.0, 0.0)
2                 0  (1.0, 0.0)
3                 0  (1.0, 0.0)
4                 0  (1.0, 0.0)
...             ...         ...
1764639           0  (1.0, 0.0)
1764640           0  (1.0, 0.0)
1764641           0  (1.0, 0.0)
1764642           0  (1.0, 0.0)
1764643           0  (1.0, 0.0)

                                                 line_bbox  span_num  ...  \
0        (110.87999725341797, 127.92001342773438, 344.0...         0  ...
1        (110.87999725341797, 127.92001342773438, 344.0...         0  ...
2        (110.87999725341797, 127.92001342773438, 344.0...         0  ...
3        (110.87999725341797, 127.92001342773438, 344.0...         0  ...
4        (110.87999725341797, 127.92001342773438, 344.0...         0  ...
...                                                    ...       ...  ...
1764639  (134.63999938964844, 294.22998046875, 245.3221...         0  ...
1764640  (134.63999938964844, 294.22998046875, 245.3221...         0  ...
1764641  (134.63999938964844, 294.22998046875, 245.3221...         0  ...
1764642  (134.63999938964844, 294.22998046875, 245.3221...         0  ...
1764643  (134.63999938964844, 294.22998046875, 245.3221...         0  ...

         epithet_coord_match  genus_coord_match genus_mean_coord  \
0                      False              False              NaN
1                      False              False              NaN
2                      False              False              NaN
3                      False              False              NaN
4                      False              False              NaN
...                      ...                ...              ...
1764639                False              False              NaN
1764640                False              False              NaN
1764641                False              False              NaN
1764642                False              False              NaN
1764643                False              False              NaN

         epithet_mean_coord  potential_genus_match  potential_epithet_match  \
0                       NaN                  False                    False
1                       NaN                  False                    False
2                       NaN                  False                    False
3                       NaN                  False                    False
4                       NaN                  False                    False
...                     ...                    ...                      ...
1764639                 NaN                  False                    False
1764640                 NaN                  False                    False
1764641                 NaN                  False                    False
1764642                 NaN                  False                    False
1764643                 NaN                  False                    False

        infra_coord_match potential_infra_match  index_page_num  \
0                   False                 False            -615
1                   False                 False            -615
2                   False                 False            -615
3                   False                 False            -615
4                   False                 False            -615
...                   ...                   ...             ...
1764639             False                 False              26
1764640             False                 False              26
1764641             False                 False              26
1764642             False                 False              26
1764643             False                 False              26

          closest_genus
0        Acanthophyllum
1        Acanthophyllum
2        Acanthophyllum
3        Acanthophyllum
4        Acanthophyllum
...                 ...
1764639         Zostera
1764640         Zostera
1764641         Zostera
1764642         Zostera
1764643         Zostera

[1764644 rows x 40 columns]

In [ ]:
str.isnumeric

In [173]:
import numpy as np
import pandas as pd

# create sample data
data = {'A': [1, 4, 3, 6, 8, 5], 'is_B': [False, True, False, True, False, True]}
df = pd.DataFrame(data)

df = vol1_char_df[(vol1_char_df['page_num'].isin(vol1_index)) & ~((vol1_char_df["word"].str.isupper()) & (vol1_char_df["word"].str.len()>2)) & (~vol1_char_df["pruned_word"].str.isnumeric())].copy()

# find index of rows where is_B is True
genus_indecies = df.index[df['potential_genus_match'] == True]

# initialize closest_A_above_B column to NaN
df['closest_genus'] = np.nan

# loop over is_B rows and update closest_A_above_B column
for i in tqdm(genus_indecies):
    prev_rows = df.loc[:i][df['potential_genus_match'] == True]
    if (not prev_rows.empty) and (df.at[i, 'word'].isupper() == False):
        closest_index = prev_rows.index[-1]
        df.at[i, 'closest_genus'] = df.at[closest_index, 'word']

# forward fill the closest_A_above_B column to fill NaN values
#df.loc[(df["word"].str.isupper()) & (df["word"].str.len()>2),'closest_genus'] = -1
df['closest_genus'].ffill(inplace=True)

  0%|          | 0/3578 [00:00<?, ?it/s]/var/folders/gg/rd0htpr953n8c6s3hcyh70kw0000gn/T/ipykernel_18207/640925016.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  prev_rows = df.loc[:i][df['potential_genus_match'] == True]
100%|██████████| 3578/3578 [00:13<00:00, 261.20it/s]

In [172]:
df.loc[:,['word_num','word','word_bbox','pruned_word', 'pruned_word_bbox', 'potential_genus_match', 'potential_epithet_match', 'potential_infra_match', 'closest_genus']].drop_duplicates().head(50)

,word_num,word,word_bbox,pruned_word,pruned_word_bbox,potential_genus_match,potential_epithet_match,potential_infra_match,closest_genus
1715579,0,A,"(115.44000244140625, 131.1444091796875, 121.17...",A,"(115.44000244140625, 131.1444091796875, 121.17...",False,False,False,NaN
1715580,0,cilicica,"(42.47999954223633, 153.70440673828125, 68.823...",cilicica,"(42.47999954223633, 153.70440673828125, 68.823...",False,True,False,NaN
1715588,1,Ant.,"(71.73958587646484, 153.70440673828125, 88.752...",Ant,"(71.73958587646484, 153.70440673828125, 85.994...",False,False,False,NaN
1715592,2,et,"(92.64039611816406, 153.70440673828125, 99.590...",et,"(92.64039611816406, 153.70440673828125, 99.590...",False,False,False,NaN
1715594,3,Ky,"(102.99232482910156, 153.70440673828125, 114.1...",Ky,"(102.99232482910156, 153.70440673828125, 114.1...",False,False,False,NaN
1715596,0,Acanthophyllum,"(28.559999465942383, 163.30438232421875, 93.46...",Acanthophyllum,"(28.559999465942383, 163.30438232421875, 93.46...",True,False,False,Acanthophyllum
1715610,0,kurdicum,"(42.2400016784668, 172.90438842773438, 78.5574...",kurdicum,"(42.2400016784668, 172.90438842773438, 78.5574...",False,True,False,Acanthophyllum
1715618,1,Boiss.,"(81.9963607788086, 172.90438842773438, 102.457...",Boiss,"(81.9963607788086, 172.90438842773438, 100.229...",False,False,False,Acanthophyllum
1715624,2,et,"(106.75651550292969, 172.90438842773438, 113.4...",et,"(106.75651550292969, 172.90438842773438, 113.4...",False,False,False,Acanthophyllum
1715626,3,Hausskn.,"(116.87992095947266, 172.90438842773438, 151.8...",Hausskn,"(116.87992095947266, 172.90438842773438, 149.2...",False,False,False,Acanthophyllum
1715634,0,Aceras,"(28.799999237060547, 182.2392120361328, 53.568...",Aceras,"(28.799999237060547, 182.2392120361328, 53.568...",True,False,False,Aceras
1715640,0,qffinis,"(42.2400016784668, 191.83921813964844, 64.2381...",qffinis,"(42.2400016784668, 191.83921813964844, 64.2381...",False,True,False,Aceras
1715647,1,Boiss.,"(65.6382827758789, 191.86441040039062, 87.3943...",Boiss,"(65.6382827758789, 191.86441040039062, 85.0597...",False,False,False,Aceras
1715653,0,anthropophora,"(42.47999954223633, 201.43919372558594, 94.993...",anthropophora,"(42.47999954223633, 201.43919372558594, 94.993...",False,True,False,Aceras
1715670,2,R.,"(113.16743469238281, 201.46438598632812, 122.1...",R,"(113.16743469238281, 201.46438598632812, 119.6...",False,False,False,Aceras
1715672,3,Br.,"(123.61227416992188, 201.46438598632812, 135.3...",Br,"(123.61227416992188, 201.46438598632812, 132.8...",False,False,False,Aceras
1715675,0,hircina,"(42.0, 211.03919982910156, 68.18370056152344, ...",hircina,"(42.0, 211.03919982910156, 68.18370056152344, ...",False,True,False,Aceras
1715686,2,Lindl.,"(87.4659194946289, 211.06439208984375, 110.829...",Lindl,"(87.4659194946289, 211.06439208984375, 108.173...",False,False,False,Aceras
1715692,0,pyramidalis,"(41.040000915527344, 220.6392059326172, 82.282...",pyramidalis,"(41.040000915527344, 220.6392059326172, 82.282...",False,True,False,Aceras
1715707,2,Reichb.,"(102.29073333740234, 220.66439819335938, 132.9...",Reichb,"(102.29073333740234, 220.66439819335938, 130.1...",False,False,False,Aceras
1715714,0,Achyranthes,"(28.31999969482422, 230.264404296875, 75.07479...",Achyranthes,"(28.31999969482422, 230.264404296875, 75.07479...",True,False,False,Achyranthes
1715725,0,aspera,"(42.2400016784668, 239.86441040039062, 65.6864...",aspera,"(42.2400016784668, 239.86441040039062, 65.6864...",False,True,False,Achyranthes
1715731,1,L.,"(69.94621276855469, 239.86441040039062, 78.227...",L,"(69.94621276855469, 239.86441040039062, 75.668...",False,False,False,Achyranthes
1715733,0,argentea,"(42.2400016784668, 249.43919372558594, 72.9484...",argentea,"(42.2400016784668, 249.43919372558594, 72.9484...",False,True,False,Achyranthes
1715741,1,Lam.,"(74.34839630126953, 249.46438598632812, 94.300...",Lam,"(74.34839630126953, 249.46438598632812, 91.579...",False,False,False,Achyranthes
1715745,0,Acrostichutn,"(28.31999969482422, 259.0391845703125, 74.4095...",Acrostichutn,"(28.31999969482422, 259.0391845703125, 74.4095...",True,False,False,Acrostichutn
1715757,0,marantae,"(42.0, 268.3992004394531, 76.48709106445312, 2...",marantae,"(42.0, 268.3992004394531, 76.48709106445312, 2...",False,True,False,Acrostichutn
1715765,1,L.,"(77.88784790039062, 268.4244079589844, 86.1619...",L,"(77.88784790039062, 268.4244079589844, 83.5999...",False,False,False,Acrostichutn
1715767,0,velleum,"(42.0, 278.23919677734375, 69.96473693847656, ...",velleum,"(42.0, 278.23919677734375, 69.96473693847656, ...",False,True,False,Acrostichutn
1715774,1,Ait.,"(71.36477661132812, 278.264404296875, 85.77413...",Ait,"(71.36477661132812, 278.264404296875, 83.16969...",False,False,False,Acrostichutn
1715778,0,Adiantum,"(28.31999969482422, 287.6243896484375, 66.3888...",Adiantum,"(28.31999969482422, 287.6243896484375, 66.3888...",True,False,False,Adiantum
1715786,0,capillus-veneris,"(41.7599983215332, 297.2243957519531, 100.8762...",capillusveneris,"(41.7599983215332, 297.2243957519531, 100.8762...",False,True,False,Adiantum
1715802,1,L.,"(104.40281677246094, 297.2243957519531, 112.53...",L,"(104.40281677246094, 297.2243957519531, 110.02...",False,False,False,Adiantum
1715804,0,Aegilops,"(28.079999923706055, 306.58441162109375, 60.63...",Aegilops,"(28.079999923706055, 306.58441162109375, 60.63...",True,False,False,Aegilops
1715812,0,aucheri,"(41.7599983215332, 316.3992004394531, 68.89865...",aucheri,"(41.7599983215332, 316.3992004394531, 68.89865...",False,True,False,Aegilops
1715819,1,Boiss.,"(70.29904174804688, 316.4244079589844, 91.7179...",Boiss,"(70.29904174804688, 316.4244079589844, 89.4206...",False,False,False,Aegilops
1715825,0,bicornis,"(42.0, 325.7591857910156, 71.27671813964844, 3...",bicornis,"(42.0, 325.7591857910156, 71.27671813964844, 3...",False,True,False,Aegilops
1715833,1,(Forsk.),"(74.1755599975586, 325.7843933105469, 103.1545...",Forsk,"(77.3263931274414, 325.7843933105469, 97.65773...",False,False,False,Aegilops
1715841,2,Jaub.,"(105.32842254638672, 325.7843933105469, 126.80...",Jaub,"(105.32842254638672, 325.7843933105469, 123.75...",False,False,False,Aegilops
1715846,3,et,"(129.69993591308594, 325.7843933105469, 136.44...",et,"(129.69993591308594, 325.7843933105469, 136.44...",False,False,False,Aegilops
1715848,4,Spach,"(138.9781036376953, 325.7843933105469, 161.760...",Spach,"(138.9781036376953, 325.7843933105469, 161.760...",False,False,False,Aegilops
1715853,0,biuncialis,"(41.279998779296875, 335.3843994140625, 77.966...",biuncialis,"(41.279998779296875, 335.3843994140625, 77.966...",False,True,False,Aegilops
1715863,1,Vis.,"(81.97525787353516, 335.3843994140625, 95.9681...",Vis,"(81.97525787353516, 335.3843994140625, 93.5239...",False,False,False,Aegilops
1715867,0,caudata,"(42.720001220703125, 344.9844055175781, 72.833...",caudata,"(42.720001220703125, 344.9844055175781, 72.833...",False,True,False,Aegilops
1715874,1,L.,"(76.9542007446289, 344.9844055175781, 84.90339...",L,"(76.9542007446289, 344.9844055175781, 82.32180...",False,False,False,Aegilops
1715876,0,columnaris,"(42.720001220703125, 354.58441162109375, 84.65...",columnaris,"(42.720001220703125, 354.58441162109375, 84.65...",False,True,False,Aegilops
1715886,1,Zhuk.,"(88.41913604736328, 354.58441162109375, 111.06...",Zhuk,"(88.41913604736328, 354.58441162109375, 108.44...",False,False,False,Aegilops
1715891,0,crassa,"(41.7599983215332, 364.18438720703125, 64.3142...",crassa,"(41.7599983215332, 364.18438720703125, 64.3142...",False,True,False,Aegilops
1715897,1,Boiss.,"(67.11383056640625, 364.18438720703125, 88.299...",Boiss,"(67.11383056640625, 364.18438720703125, 86.049...",False,False,False,Aegilops
1715903,0,cylindrica,"(41.52000045776367, 373.5444030761719, 78.7613...",cylindrica,"(41.52000045776367, 373.5444030761719, 78.7613...",False,True,False,Aegilops

In [181]:
import numpy as np
import pandas as pd

# # create sample data
# data = {'A': [1, 4, 3, 6, 8, 5], 'is_B': [False, True, False, True, False, True]}
# df = pd.DataFrame(data)

# df = vol1_char_df[vol1_char_df['page_num'].isin(vol1_index)].copy()

# # find index of rows where is_B is True
epithet_indecies = df.index[df['potential_epithet_match'] == True]

# initialize closest_A_above_B column to NaN
df['closest_epithet'] = np.nan

# loop over is_B rows and update closest_A_above_B column
for i in tqdm(epithet_indecies):
    prev_rows = df.loc[:i][df['potential_epithet_match'] == True]
    if (not prev_rows.empty):
        closest_index = prev_rows.index[-1]
        df.at[i, 'closest_epithet'] = df.at[closest_index, 'word']

# forward fill the closest_A_above_B column to fill NaN values
df.loc[df['potential_genus_match'] == True, 'closest_epithet'] = -1
df['closest_epithet'].ffill(inplace=True)

  0%|          | 0/17824 [00:00<?, ?it/s]/var/folders/gg/rd0htpr953n8c6s3hcyh70kw0000gn/T/ipykernel_18207/3137652366.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  prev_rows = df.loc[:i][df['potential_epithet_match'] == True]
100%|██████████| 17824/17824 [01:33<00:00, 190.52it/s]

### index df

In [359]:
#making sure page_num is in index
#making sure the genus level word is not all uppercase (a family name)
#making sure the pruned_word is not numeric (removing page_number as it's not in order usually)

vol1_index_df = vol1_char_df[(vol1_char_df['page_num'].isin(vol1_index)) &
                             (~((vol1_char_df["word"].str.isupper()) & (vol1_char_df['genus_coord_match'] == True))) & 
                             (~vol1_char_df["pruned_word"].str.isnumeric())].copy()

vol2_index_df = vol2_char_df[(vol2_char_df['page_num'].isin(vol2_index)) &
                             (~((vol2_char_df["word"].str.isupper()) & (vol2_char_df['genus_coord_match'] == True))) & 
                             (~vol2_char_df["pruned_word"].str.isnumeric())].copy()

vol3_index_df = vol3_char_df[(vol3_char_df['page_num'].isin(vol3_index)) &
                             (~((vol3_char_df["word"].str.isupper()) & (vol3_char_df['genus_coord_match'] == True))) & 
                             (~vol3_char_df["pruned_word"].str.isnumeric())].copy()

In [360]:
#df['closest_epithet_v2'] = np.nan
def extract_potential_genus_names(row):
    if row['potential_genus_match'] == True:
        return row['word'] + "_" + str(row['page_num']) + "_" + str(row['block_num']) + "_" + str(row['line_num'])
    else:
        return np.nan
        
for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    vol_index_df['closest_genus'] = vol_index_df.apply(extract_potential_genus_names, axis = 1)
    vol_index_df['closest_genus'].ffill(inplace=True)

In [361]:
#df['closest_epithet_v2'] = np.nan
def extract_potential_epithet_names(row):
    if row['potential_epithet_match'] == True:
        return row['word'] + "_" + str(row['page_num']) + "_" + str(row['block_num']) + "_" + str(row['line_num'])
    else:
        return np.nan

for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    vol_index_df['closest_epithet'] = vol_index_df.apply(extract_potential_epithet_names, axis = 1)
    vol_index_df.loc[vol_index_df['potential_genus_match'] == True, 'closest_epithet'] = -1
    vol_index_df['closest_epithet'].ffill(inplace=True)

In [362]:
def extract_potential_infra_type(row):
    if row['potential_infra_match'] == True:
        return row['word'] + "_" + str(row['page_num']) + "_" + str(row['block_num']) + "_" + str(row['line_num'])
    else:
        return np.nan

for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    vol_index_df['closest_infra_type'] = vol_index_df.apply(extract_potential_infra_type, axis = 1)
    vol_index_df.loc[vol_index_df['potential_epithet_match'] == True, 'closest_infra_type'] = -1
    vol_index_df['closest_infra_type'].ffill(inplace=True)

In [363]:
keep_cols = vol3_index_df.columns.difference(["char_num", "char", "char_origin", "char_bbox"], sort=False).tolist()

vol3_index_test = vol3_index_df.copy().loc[:,keep_cols].drop_duplicates().reset_index()
vol3_index_test.rename(columns={"index": "char_index"}, inplace = True)

In [364]:
for vol_index_df in [vol3_index_test]:#[vol1_index_df, vol2_index_df, vol3_index_df]:
    infra_name_match_indecies = vol_index_df[vol_index_df['potential_infra_match'] == True].index + 1
    vol_index_df['closest_infra_name'] = np.NaN
    vol_index_df.loc[infra_name_match_indecies, 'closest_infra_name'] = vol_index_df.apply(lambda row : row['word'] + "_" + str(row['page_num']) + "_" + str(row['block_num']) + "_" + str(row['line_num']) , axis = 1)
    vol_index_df['potential_epithet_name_match'] = vol_index_df.index.isin(infra_name_match_indecies)
    vol_index_df.loc[vol_index_df['potential_epithet_match'] == True, 'closest_infra_name'] = -1
    vol_index_df['closest_infra_name'].ffill(inplace=True)

In [365]:
vol3_index_test.replace(-1, np.NaN, inplace = True)

In [366]:
vol3_index_test.iloc[:,17:].head(50)

,span_origin,span_bbox,word_num,word,word_bbox,pruned_word,pruned_word_bbox,genus_index_pat_match,epithet_index_pat_match,col_num,...,potential_genus_match,potential_epithet_match,infra_coord_match,potential_infra_match,index_page_num,closest_genus,closest_epithet,closest_infra_type,closest_infra_name,potential_epithet_name_match
0,"(188.39999389648438, 100.96002197265625)","(188.39999389648438, 87.27102661132812, 229.41...",0,INDEX,"(188.39999389648438, 87.27102661132812, 229.41...",INDEX,"(188.39999389648438, 87.27102661132812, 229.41...",False,False,0,...,False,False,False,False,1,NaN,NaN,NaN,NaN,False
1,"(16.079999923706055, 168.8800048828125)","(16.079999923706055, 160.3209991455078, 62.117...",0,Aaronsohnia,"(16.079999923706055, 160.3209991455078, 62.117...",Aaronsohnia,"(16.079999923706055, 160.3209991455078, 62.117...",True,False,0,...,True,False,False,False,1,Aaronsohnia_555_1_0,NaN,NaN,NaN,False
2,"(62.11798095703125, 168.8800048828125)","(62.11798095703125, 159.4029998779297, 122.569...",1,Warburg,"(64.11976623535156, 159.4029998779297, 98.6549...",Warburg,"(64.11976623535156, 159.4029998779297, 98.6549...",False,False,0,...,False,False,False,False,1,Aaronsohnia_555_1_0,NaN,NaN,NaN,False
3,"(62.11798095703125, 168.8800048828125)","(62.11798095703125, 159.4029998779297, 122.569...",2,et,"(100.82400512695312, 159.4029998779297, 107.43...",et,"(100.82400512695312, 159.4029998779297, 107.43...",False,False,0,...,False,False,False,False,1,Aaronsohnia_555_1_0,NaN,NaN,NaN,False
4,"(62.11798095703125, 168.8800048828125)","(62.11798095703125, 159.4029998779297, 122.569...",3,Eig,"(109.93597412109375, 159.4029998779297, 122.56...",Eig,"(109.93597412109375, 159.4029998779297, 122.56...",False,False,0,...,False,False,False,False,1,Aaronsohnia_555_1_0,NaN,NaN,NaN,False
5,"(23.040000915527344, 178.48001098632812)","(23.040000915527344, 169.92100524902344, 67.03...",0,factorovskyi,"(23.040000915527344, 169.92100524902344, 67.03...",factorovskyi,"(23.040000915527344, 169.92100524902344, 67.03...",False,True,0,...,False,True,False,False,1,Aaronsohnia_555_1_0,factorovskyi_555_2_0,NaN,NaN,False
6,"(67.0320053100586, 178.48001098632812)","(67.0320053100586, 169.0030059814453, 145.1301...",1,Warb.,"(69.28821563720703, 169.0030059814453, 93.4471...",Warb,"(69.28821563720703, 169.0030059814453, 90.6840...",False,False,0,...,False,False,False,False,1,Aaronsohnia_555_1_0,factorovskyi_555_2_0,NaN,NaN,False
7,"(67.0320053100586, 178.48001098632812)","(67.0320053100586, 169.0030059814453, 145.1301...",2,et,"(96.83100891113281, 169.0030059814453, 103.471...",et,"(96.83100891113281, 169.0030059814453, 103.471...",False,False,0,...,False,False,False,False,1,Aaronsohnia_555_1_0,factorovskyi_555_2_0,NaN,NaN,False
8,"(67.0320053100586, 178.48001098632812)","(67.0320053100586, 169.0030059814453, 145.1301...",3,Eig,"(106.63101959228516, 169.0030059814453, 119.26...",Eig,"(106.63101959228516, 169.0030059814453, 119.26...",False,False,0,...,False,False,False,False,1,Aaronsohnia_555_1_0,factorovskyi_555_2_0,NaN,NaN,False
9,"(67.0320053100586, 178.48001098632812)","(67.0320053100586, 169.0030059814453, 145.1301...",4,in,"(122.19778442382812, 169.0030059814453, 129.33...",in,"(122.19778442382812, 169.0030059814453, 129.33...",False,False,0,...,False,False,False,False,1,Aaronsohnia_555_1_0,factorovskyi_555_2_0,NaN,NaN,False
10,"(67.0320053100586, 178.48001098632812)","(67.0320053100586, 169.0030059814453, 145.1301...",5,Eig,"(132.4967498779297, 169.0030059814453, 145.130...",Eig,"(132.4967498779297, 169.0030059814453, 145.130...",False,False,0,...,False,False,False,False,1,Aaronsohnia_555_1_0,factorovskyi_555_2_0,NaN,NaN,False
11,"(16.079999923706055, 202.95999145507812)","(16.079999923706055, 193.4829864501953, 87.725...",0,Acantholepis,"(16.079999923706055, 193.4829864501953, 65.374...",Acantholepis,"(16.079999923706055, 193.4829864501953, 65.374...",True,False,0,...,True,False,False,False,1,Acantholepis_555_3_1,NaN,NaN,NaN,False
12,"(16.079999923706055, 202.95999145507812)","(16.079999923706055, 193.4829864501953, 87.725...",1,Less.',"(68.72028350830078, 193.4829864501953, 87.7253...",Less,"(68.72028350830078, 193.4829864501953, 84.3573...",False,False,0,...,False,False,False,False,1,Acantholepis_555_3_1,NaN,NaN,NaN,False
13,"(25.200000762939453, 214.0)","(25.200000762939453, 204.5229949951172, 82.472...",0,orientalis,"(25.200000762939453, 204.5229949951172, 60.447...",orientalis,"(25.200000762939453, 204.5229949951172, 60.447...",False,True,0,...,False,True,False,False,1,Acantholepis_555_3_1,orientalis_555_4_0,NaN,NaN,False
14,"(25.200000762939453, 214.0)","(25.200000762939453, 204.5229949951172, 82.472...",1,Less.,"(63.52885055541992, 204.5229949951172, 82.4725...",Less,"(63.52885055541992, 204.5229949951172, 80.1489...",False,False,0,...,False,False,False,False,1,Acantholepis_555_3_1,orientalis_555_4_0,NaN,NaN,False
15,"(16.31999969482422, 225.51998901367188)","(16.31999969482422, 216.04298400878906, 70.810...",0,Acantholimon,"(16.31999969482422, 216.04298400878906, 70.810...",Acantholimon,"(16.31999969482422, 216.04298400878906, 70.810...",True,False,0,...,True,False,False,False,1,Acantholimon_555_5_0,NaN,NaN,NaN,False
16,"(70.81000518798828, 225.51998901367188)","(70.81000518798828, 216.04298400878906, 95.672...",1,Boiss.,"(74.17303466796875, 216.04298400878906, 95.672...",Boiss,"(74.17303466796875, 216.04298400878906, 93.552...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,NaN,NaN,NaN,False
17,"(25.440000534057617, 235.3599853515625)","(25.440000534057617, 225.8829803466797, 60.941...",0,acerosum,"(25.440000534057617, 225.8829803466797, 60.941...",acerosum,"(25.440000534057617, 225.8829803466797, 60.941...",False,True,0,...,False,True,False,False,1,Acantholimon_555_5_0,acerosum_555_6_0,NaN,NaN,False
18,"(60.94140625, 235.3599853515625)","(60.94140625, 225.8829803466797, 94.5663986206...",1,(Willd.),"(65.02940368652344, 225.8829803466797, 94.5663...",Willd,"(68.139404296875, 225.8829803466797, 89.093399...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,acerosum_555_6_0,NaN,NaN,False
19,"(94.56639862060547, 235.3599853515625)","(94.56639862060547, 225.8829803466797, 119.913...",2,Boiss.,"(98.41354370117188, 225.8829803466797, 119.913...",Boiss,"(98.41354370117188, 225.8829803466797, 117.792...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,acerosum_555_6_0,NaN,NaN,False
20,"(25.440000534057617, 244.72000122070312)","(25.440000534057617, 236.16099548339844, 115.9...",0,agropyroideum,"(25.440000534057617, 236.16099548339844, 80.93...",agropyroideum,"(25.440000534057617, 236.16099548339844, 80.93...",False,True,0,...,False,True,False,False,1,Acantholimon_555_5_0,agropyroideum_555_6_1,NaN,NaN,False
21,"(25.440000534057617, 244.72000122070312)","(25.440000534057617, 236.16099548339844, 115.9...",1,Mobayen,"(82.43400573730469, 236.16099548339844, 115.92...",Mobayen,"(82.43400573730469, 236.16099548339844, 115.92...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,agropyroideum_555_6_1,NaN,NaN,False
22,"(25.440000534057617, 254.07998657226562)","(25.440000534057617, 245.52098083496094, 73.93...",0,androsaceum,"(25.440000534057617, 245.52098083496094, 73.93...",androsaceum,"(25.440000534057617, 245.52098083496094, 73.93...",False,True,0,...,False,True,False,False,1,Acantholimon_555_5_0,androsaceum_555_7_0,NaN,NaN,False
23,"(73.9320068359375, 254.07998657226562)","(73.9320068359375, 244.6029815673828, 159.2729...",1,(Jaub.,"(75.95061492919922, 244.6029815673828, 99.9769...",Jaub,"(79.41759490966797, 244.6029815673828, 97.2494...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,androsaceum_555_7_0,NaN,NaN,False
24,"(73.9320068359375, 254.07998657226562)","(73.9320068359375, 244.6029815673828, 159.2729...",2,et,"(101.86882019042969, 244.6029815673828, 108.45...",et,"(101.86882019042969, 244.6029815673828, 108.45...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,androsaceum_555_7_0,NaN,NaN,False
25,"(73.9320068359375, 254.07998657226562)","(73.9320068359375, 244.6029815673828, 159.2729...",3,Spach),"(110.21649932861328, 244.6029815673828, 135.83...",Spach,"(110.21649932861328, 244.6029815673828, 132.68...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,androsaceum_555_7_0,NaN,NaN,False
26,"(73.9320068359375, 254.07998657226562)","(73.9320068359375, 244.6029815673828, 159.2729...",4,Boiss.,"(137.97610473632812, 244.6029815673828, 159.27...",Boiss,"(137.97610473632812, 244.6029815673828, 157.19...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,androsaceum_555_7_0,NaN,NaN,False
27,"(25.440000534057617, 263.44000244140625)","(25.440000534057617, 253.96299743652344, 86.60...",0,antilibanoticum,"(25.440000534057617, 253.96299743652344, 86.60...",antilibanoticum,"(25.440000534057617, 253.96299743652344, 86.60...",False,True,0,...,False,True,False,False,1,Acantholimon_555_5_0,antilibanoticum_555_8_0,NaN,NaN,False
28,"(86.60399627685547, 263.44000244140625)","(86.60399627685547, 253.96299743652344, 114.15...",1,Mout.,"(90.91841125488281, 253.96299743652344, 114.15...",Mout,"(90.91841125488281, 253.96299743652344, 111.50...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,antilibanoticum_555_8_0,NaN,NaN,False
29,"(25.440000534057617, 272.79998779296875)","(25.440000534057617, 264.2409973144531, 64.437...",0,baltanense,"(25.440000534057617, 264.2409973144531, 64.437...",baltanense,"(25.440000534057617, 264.2409973144531, 64.437...",False,True,0,...,False,True,False,False,1,Acantholimon_555_5_0,baltanense_555_9_0,NaN,NaN,False
30,"(64.43700408935547, 272.79998779296875)","(64.43700408935547, 263.322998046875, 132.3935...",1,Boiss.,"(66.11802673339844, 263.322998046875, 87.61786...",Boiss,"(66.11802673339844, 263.322998046875, 85.49728...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,baltanense_555_9_0,NaN,NaN,False
31,"(64.43700408935547, 272.79998779296875)","(64.43700408935547, 263.322998046875, 132.3935...",2,et,"(89.29888153076172, 263.322998046875, 95.85862...",et,"(89.29888153076172, 263.322998046875, 95.85862...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,baltanense_555_9_0,NaN,NaN,False
32,"(64.43700408935547, 272.79998779296875)","(64.43700408935547, 263.322998046875, 132.3935...",3,Hausskn.,"(97.5396499633789, 263.322998046875, 132.39356...",Hausskn,"(97.5396499633789, 263.322998046875, 129.88888...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,baltanense_555_9_0,NaN,NaN,False
33,"(25.68000030517578, 282.1600036621094)","(25.68000030517578, 272.6830139160156, 75.0900...",0,damassanum,"(25.68000030517578, 272.6830139160156, 75.0900...",damassanum,"(25.68000030517578, 272.6830139160156, 75.0900...",False,True,0,...,False,True,False,False,1,Acantholimon_555_5_0,damassanum_555_10_0,NaN,NaN,False
34,"(75.09000396728516, 282.1600036621094)","(75.09000396728516, 272.6830139160156, 115.244...",1,Mobayen,"(79.64895629882812, 272.6830139160156, 115.244...",Mobayen,"(79.64895629882812, 272.6830139160156, 115.244...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,damassanum_555_10_0,NaN,NaN,False
35,"(25.440000534057617, 291.5199890136719)","(25.440000534057617, 282.96099853515625, 52.95...",0,echinus,"(25.440000534057617, 282.96099853515625, 52.95...",echinus,"(25.440000534057617, 282.96099853515625, 52.95...",False,True,0,...,False,True,False,False,1,Acantholimon_555_5_0,echinus_555_10_1,NaN,NaN,False
36,"(52.95150375366211, 291.5199890136719)","(52.95150375366211, 282.0429992675781, 73.1906...",1,auct.,"(54.4514045715332, 282.0429992675781, 73.19064...",auct,"(54.4514045715332, 282.0429992675781, 70.56806...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,echinus_555_10_1,NaN,NaN,False
37,"(25.68000030517578, 301.1199951171875)","(25.68000030517578, 292.5610046386719, 63.1829...",0,laxiflorum,"(25.68000030517578, 292.5610046386719, 63.1829...",laxiflorum,"(25.68000030517578, 292.5610046386719, 63.1829...",False,True,0,...,False,True,False,False,1,Acantholimon_555_5_0,laxiflorum_555_11_0,NaN,NaN,False
38,"(63.18299865722656, 301.1199951171875)","(63.18299865722656, 291.64300537109375, 122.41...",1,Boiss.,"(64.99667358398438, 291.64300537109375, 86.293...",Boiss,"(64.99667358398438, 291.64300537109375, 84.213...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,laxiflorum_555_11_0,NaN,NaN,False
39,"(63.18299865722656, 301.1199951171875)","(63.18299865722656, 291.64300537109375, 122.41...",2,ex,"(88.38642120361328, 291.64300537109375, 96.789...",ex,"(88.38642120361328, 291.64300537109375, 96.789...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,laxiflorum_555_11_0,NaN,NaN,False
40,"(63.18299865722656, 301.1199951171875)","(63.18299865722656, 291.64300537109375, 122.41...",3,Bunge,"(98.74281311035156, 291.64300537109375, 122.41...",Bunge,"(98.74281311035156, 291.64300537109375, 122.41...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,laxiflorum_555_11_0,NaN,NaN,False
41,"(25.68000030517578, 310.4800109863281)","(25.68000030517578, 301.0030212402344, 96.3937...",0,libanoticum,"(25.68000030517578, 301.0030212402344, 71.0734...",libanoticum,"(25.68000030517578, 301.0030212402344, 71.0734...",False,True,0,...,False,True,False,False,1,Acantholimon_555_5_0,libanoticum_555_11_1,NaN,NaN,False
42,"(25.68000030517578, 310.4800109863281)","(25.68000030517578, 301.0030212402344, 96.3937...",1,Boiss.,"(74.8938980102539, 301.0030212402344, 96.39373...",Boiss,"(74.8938980102539, 301.0030212402344, 94.27315...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,libanoticum_555_11_1,NaN,NaN,False
43,"(34.560001373291016, 320.0799865722656)","(34.560001373291016, 310.6029968261719, 49.255...",0,var.,"(34.560001373291016, 310.6029968261719, 49.255...",var,"(34.560001373291016, 310.6029968261719, 46.664...",False,False,0,...,False,False,True,True,1,Acantholimon_555_5_0,libanoticum_555_11_1,var._555_12_0,NaN,False
44,"(49.25556182861328, 320.0799865722656)","(49.25556182861328, 311.52099609375, 83.479560...",1,ulicinum,"(51.97956085205078, 311.52099609375, 83.479560...",ulicinum,"(51.97956085205078, 311.52099609375, 83.479560...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,libanoticum_555_11_1,var._555_12_0,ulicinum_555_12_0,True
45,"(83.47956085205078, 320.0799865722656)","(83.47956085205078, 310.6029968261719, 141.510...",2,(Willd.),"(87.47421264648438, 310.6029968261719, 116.923...",Willd,"(90.58280944824219, 310.6029968261719, 111.446...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,libanoticum_555_11_1,var._555_12_0,ulicinum_555_12_0,False
46,"(83.47956085205078, 320.0799865722656)","(83.47956085205078, 310.6029968261719, 141.510...",3,Boiss.,"(120.01058197021484, 310.6029968261719, 141.51...",Boiss,"(120.01058197021484, 310.6029968261719, 139.38...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,libanoticum_555_11_1,var._555_12_0,ulicinum_555_12_0,False
47,"(25.440000534057617, 331.1199951171875)","(25.440000534057617, 321.64300537109375, 59.72...",0,ulicinum,"(25.440000534057617, 321.64300537109375, 59.72...",ulicinum,"(25.440000534057617, 321.64300537109375, 59.72...",False,True,0,...,False,True,False,False,1,Acantholimon_555_5_0,ulicinum_555_13_0,NaN,NaN,False
48,"(59.72600173950195, 331.1199951171875)","(59.72600173950195, 321.64300537109375, 125.91...",1,(Schultes),"(63.404842376708984, 321.64300537109375, 100.4...",Schultes,"(66.4778060913086, 321.64300537109375, 97.4153...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,ulicinum_555_13_0,NaN,NaN,False
49,"(59.72600173950195, 331.1199951171875)","(59.72600173950195, 321.64300537109375, 125.91...",2,Boiss.,"(104.41362762451172, 321.64300537109375, 125.9...",Boiss,"(104.41362762451172, 321.64300537109375, 123.7...",False,False,0,...,False,False,False,False,1,Acantholimon_555_5_0,ulicinum_555_13_0,NaN,NaN,False

In [367]:
[c for c in vol3_index_test.columns if c.startswith('potential')]

['potential_genus_match',
 'potential_epithet_match',
 'potential_infra_match',
 'potential_epithet_name_match']

In [368]:
vol3_index_test['potential_author_match'] = (vol3_index_test['potential_genus_match'] == False) & \
                                            (vol3_index_test['potential_epithet_match'] == False) & \
                                            (vol3_index_test['potential_infra_match'] == False) & \
                                            (vol3_index_test['potential_epithet_name_match'] == False)

In [369]:
#vol3_index_test[vol3_index_test['potential_infra_match'] == True].index + 1

In [370]:
#vol3_index_test.iloc[:,18:].head(50)
#genus author: genus = "genus" & "closest_epithet = -1 & potential_genus_match = False"
#epithet author: epithet = "epithet" & potential_epithet_match = False & closest_infra = -1 
#closest_infra

In [371]:
#vol3_index_test = vol3_index_df.copy()
#vol3_index_test['after_potential_infra_match'] = vol3_index_test['potential_infra_match'].shift()

# group_cols = vol3_index_test.columns.difference(["char_num", "char", "char_origin", "char_bbox"], sort=False).tolist()
# vol3_index_test["after_potential_infra_match"] = vol3_index_test.groupby(group_cols)['potential_infra_match'].shift()#.transform('min')

In [372]:
# vol3_index_df[['word_num','word','word_bbox','pruned_word', 'pruned_word_bbox', 'potential_genus_match', 'potential_epithet_match', 'potential_infra_match']].drop_duplicates()

In [373]:
# vol3_index_test[['word_num','word','word_bbox','pruned_word', 'pruned_word_bbox', 'potential_genus_match', 'potential_epithet_match', 'potential_infra_match', 'after_potential_infra_match']].drop_duplicates().head(50)

In [374]:
# vol3_index_test.loc[vol3_index_test['after_potential_infra_match'] == True, ['word_num','word','word_bbox','pruned_word', 'pruned_word_bbox', 'potential_genus_match', 'potential_epithet_match', 'potential_infra_match', 'after_potential_infra_match']].drop_duplicates()

In [375]:
# #df['closest_epithet_v2'] = np.nan
# def extract_potential_infra_names(row):
#     if row['after_potential_infra_match'] == True:
#         return row['word']
#     else:
#         return np.nan

# for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
#     vol_index_df['closest_epithet'] = vol_index_df.apply(extract_potential_epithet_names, axis = 1)
#     df.loc[df['potential_genus_match'] == True, 'closest_epithet_v2'] = -1
#     vol_index_df['closest_epithet'].ffill(inplace=True)

In [376]:
# df.loc[:,['word_num','word','word_bbox','pruned_word', 'pruned_word_bbox', 'potential_genus_match', 'potential_epithet_match', 'potential_infra_match', 'closest_genus', 'closest_epithet']]#.drop_duplicates().tail(50)

In [377]:
# type(df.at[i, 'closest_genus'])

In [378]:
# closes_genus = df.at[i, 'closest_genus']
# pd.isnull(closes_genus) == False

In [379]:
# df.loc[df['potential_genus_match'] == True, 'closest_epithet'] = np.nan

In [380]:
# df.loc[:,['word_num','word','word_bbox','pruned_word', 'pruned_word_bbox', 'potential_genus_match', 'potential_epithet_match', 'potential_infra_match', 'closest_genus', 'closest_epithet']].drop_duplicates().tail(50)

In [381]:
# all_vol_data = [(vol1_char_df, vol1_index, vol1_doc, "potential_infra_match_vol1"),
#                 (vol2_char_df, vol2_index, vol2_doc, "potential_infra_match_vol2"),
#                 (vol3_char_df, vol3_index, vol3_doc, "potential_infra_match_vol3")][::-1]

# for vol_char_df, vol_index, doc, output_name in all_vol_data: 
#     #for each volume 
#     image_list = []

#     for page_num in tqdm(vol_index):
#         pix_map = doc.get_page_pixmap(page_num,matrix=mat)
#         image = Image.open(io.BytesIO(pix_map.tobytes()))
#         draw = ImageDraw.Draw(image)
        

#         infra_coord_db = vol_char_df[(vol_char_df['page_num'] == page_num) & 
#                                      (vol_char_df['infra_coord_match'] == True)
#                             ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
#                             ].drop_duplicates()

#         infra_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
#                                 & (vol_char_df['potential_infra_match'] == True)
#                                 ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
#                                 ].drop_duplicates()

#         with_infra_symbols = vol_char_df[(vol_char_df['page_num'] == page_num) &
#                                          (vol_char_df['infra_coord_match'] == True) & 
#                                          (vol_char_df['word'].apply(has_infra_symbols) == True)
#                                         ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
#                                         ].drop_duplicates()

#         #genus Coord is orange-pinkish, 5
#         for coord in infra_coord_db['word_bbox'] :
#             x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
#             draw.rectangle((x0-5, y0-5, x1+5, y1+5), fill=None, outline=ImageColor.getrgb("#003399"), width=7)

#         for coord in infra_db['word_bbox'] :
#             x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
#             draw.rectangle((x0-3, y0-3, x1+3, y1+3), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)
            
#         # #epithet is red, 3
#         for coord in with_infra_symbols['word_bbox'] :
#             x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
#             draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#990000"), width=3)

#         image_list.append(image)

#     #save pages of the volume
#     image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

In [382]:
vol3_index_test

,char_index,vol_num,page_num,block_num,block_num_absolute,block_bbox,line_num,line_wmode,line_dir,line_bbox,...,potential_epithet_match,infra_coord_match,potential_infra_match,index_page_num,closest_genus,closest_epithet,closest_infra_type,closest_infra_name,potential_epithet_name_match,potential_author_match
0,1554022,3,555,0,0,"(188.39999389648438, 87.27102661132812, 229.41...",0,0,"(1.0, 0.0)","(188.39999389648438, 87.27102661132812, 229.41...",...,False,False,False,1,NaN,NaN,NaN,NaN,False,True
1,1554027,3,555,1,1,"(16.079999923706055, 159.4029998779297, 122.56...",0,0,"(1.0, 0.0)","(16.079999923706055, 159.4029998779297, 122.56...",...,False,False,False,1,Aaronsohnia_555_1_0,NaN,NaN,NaN,False,False
2,1554038,3,555,1,1,"(16.079999923706055, 159.4029998779297, 122.56...",0,0,"(1.0, 0.0)","(16.079999923706055, 159.4029998779297, 122.56...",...,False,False,False,1,Aaronsohnia_555_1_0,NaN,NaN,NaN,False,True
3,1554045,3,555,1,1,"(16.079999923706055, 159.4029998779297, 122.56...",0,0,"(1.0, 0.0)","(16.079999923706055, 159.4029998779297, 122.56...",...,False,False,False,1,Aaronsohnia_555_1_0,NaN,NaN,NaN,False,True
4,1554047,3,555,1,1,"(16.079999923706055, 159.4029998779297, 122.56...",0,0,"(1.0, 0.0)","(16.079999923706055, 159.4029998779297, 122.56...",...,False,False,False,1,Aaronsohnia_555_1_0,NaN,NaN,NaN,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8124,1613066,3,582,36,54,"(242.8800048828125, 235.3629913330078, 414.587...",0,0,"(1.0, 0.0)","(242.8800048828125, 235.3629913330078, 321.646...",...,True,False,False,28,Zollikoferia_582_35_0,nudicaulis_582_36_0,NaN,NaN,False,False
8125,1613076,3,582,36,54,"(242.8800048828125, 235.3629913330078, 414.587...",0,0,"(1.0, 0.0)","(242.8800048828125, 235.3629913330078, 321.646...",...,False,False,False,28,Zollikoferia_582_35_0,nudicaulis_582_36_0,NaN,NaN,False,True
8126,1613080,3,582,36,54,"(242.8800048828125, 235.3629913330078, 414.587...",0,0,"(1.0, 0.0)","(242.8800048828125, 235.3629913330078, 321.646...",...,False,False,False,28,Zollikoferia_582_35_0,nudicaulis_582_36_0,NaN,NaN,False,True
8127,1613090,3,582,37,55,"(242.8800048828125, 246.01600646972656, 414.28...",0,0,"(1.0, 0.0)","(242.8800048828125, 246.01600646972656, 299.05...",...,True,False,False,28,Zollikoferia_582_35_0,tenuiloba_582_37_0,NaN,NaN,False,False
8128,1613099,3,582,37,55,"(242.8800048828125, 246.01600646972656, 414.28...",0,0,"(1.0, 0.0)","(242.8800048828125, 246.01600646972656, 299.05...",...,False,False,False,28,Zollikoferia_582_35_0,tenuiloba_582_37_0,NaN,NaN,False,True

In [383]:
vol3_index_test.replace(np.NaN, "",inplace = True)

In [384]:
# import pandas as pd

# # create a sample dataframe
# df = pd.DataFrame({
#     'A': [1, 1, 1, 2, 2],
#     'B': [2, 2, 2, 1, 2],
#     'C': [True, False, False, False, True],
#     'D': ['hello', 'hello2', 'world', 'python', 'pandas']
# })
author_grouping = ['closest_genus', 'closest_epithet', 'closest_infra_name']
vol3_index_test['potential_author_match']
# group by 'A' and 'B' columns
groups = vol3_index_test.groupby(author_grouping)

# concatenate 'D' values for each group where 'C' is False
def concatenate(group):
    return group.loc[group['potential_author_match'] == True, 'word'].str.cat(sep=' ')

concatenated = groups.apply(concatenate).reset_index()

# add the concatenated values to the original dataframe
result = vol3_index_test.merge(concatenated[['closest_genus', 'closest_epithet', 'closest_infra_name', 0]], on=['closest_genus', 'closest_epithet', 'closest_infra_name'], how='left').rename(columns={0: 'authors'})

In [385]:
result.iloc[:,20:]

,word,word_bbox,pruned_word,pruned_word_bbox,genus_index_pat_match,epithet_index_pat_match,col_num,epithet_coord_match,genus_coord_match,genus_mean_coord,...,infra_coord_match,potential_infra_match,index_page_num,closest_genus,closest_epithet,closest_infra_type,closest_infra_name,potential_epithet_name_match,potential_author_match,authors
0,INDEX,"(188.39999389648438, 87.27102661132812, 229.41...",INDEX,"(188.39999389648438, 87.27102661132812, 229.41...",False,False,0,False,False,16.312258,...,False,False,1,,,,,False,True,INDEX
1,Aaronsohnia,"(16.079999923706055, 160.3209991455078, 62.117...",Aaronsohnia,"(16.079999923706055, 160.3209991455078, 62.117...",True,False,0,False,True,16.312258,...,False,False,1,Aaronsohnia_555_1_0,,,,False,False,Warburg et Eig
2,Warburg,"(64.11976623535156, 159.4029998779297, 98.6549...",Warburg,"(64.11976623535156, 159.4029998779297, 98.6549...",False,False,0,False,False,16.312258,...,False,False,1,Aaronsohnia_555_1_0,,,,False,True,Warburg et Eig
3,et,"(100.82400512695312, 159.4029998779297, 107.43...",et,"(100.82400512695312, 159.4029998779297, 107.43...",False,False,0,False,False,16.312258,...,False,False,1,Aaronsohnia_555_1_0,,,,False,True,Warburg et Eig
4,Eig,"(109.93597412109375, 159.4029998779297, 122.56...",Eig,"(109.93597412109375, 159.4029998779297, 122.56...",False,False,0,False,False,16.312258,...,False,False,1,Aaronsohnia_555_1_0,,,,False,True,Warburg et Eig
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8124,nudicaulis,"(242.8800048828125, 236.28099060058594, 280.00...",nudicaulis,"(242.8800048828125, 236.28099060058594, 280.00...",False,True,1,True,False,234.04114,...,False,False,28,Zollikoferia_582_35_0,nudicaulis_582_36_0,,,False,False,(L.) Boiss.
8125,(L.),"(282.0889892578125, 235.3629913330078, 296.101...",L,"(285.191650390625, 235.3629913330078, 290.6356...",False,False,1,False,False,234.04114,...,False,False,28,Zollikoferia_582_35_0,nudicaulis_582_36_0,,,False,True,(L.) Boiss.
8126,Boiss.,"(298.3200378417969, 235.3629913330078, 321.646...",Boiss,"(298.3200378417969, 235.3629913330078, 317.378...",False,False,1,False,False,234.04114,...,False,False,28,Zollikoferia_582_35_0,nudicaulis_582_36_0,,,False,True,(L.) Boiss.
8127,tenuiloba,"(242.8800048828125, 246.83200073242188, 272.80...",tenuiloba,"(242.8800048828125, 246.83200073242188, 272.80...",False,True,1,True,False,234.04114,...,False,False,28,Zollikoferia_582_35_0,tenuiloba_582_37_0,,,False,False,Boiss.
8128,Boiss.,"(276.2400207519531, 246.01600646972656, 299.05...",Boiss,"(276.2400207519531, 246.01600646972656, 294.84...",False,False,1,False,False,234.04114,...,False,False,28,Zollikoferia_582_35_0,tenuiloba_582_37_0,,,False,True,Boiss.

In [405]:
def fix_words(word):
    head, sep, tail = word.partition('_')
    return head 

result['closest_genus'] = result['closest_genus'].apply(fix_words)
result['closest_epithet'] = result['closest_epithet'].apply(fix_words)
result['closest_infra_type'] = result['closest_infra_type'].apply(fix_words)
result['closest_infra_name'] = result['closest_infra_name'].apply(fix_words)

In [406]:
result_prune_authors = result[(result['potential_genus_match'] == True) |
                              (result['potential_epithet_match'] == True) |
                              (result['potential_epithet_name_match'] == True)]

In [407]:
[c for c in vol3_index_test.columns if c.startswith('closest')]

['closest_genus',
 'closest_epithet',
 'closest_infra_type',
 'closest_infra_name']

In [408]:
simplified_result = result_prune_authors[['closest_genus',
                                          'closest_epithet',
                                          'closest_infra_type',
                                          'closest_infra_name',
                                          'authors']]

In [409]:
simplified_result.to_csv('vol3_index_output.csv')

In [410]:
non_italics_simplified_result = result_prune_authors.loc[(result_prune_authors['span_flags'] != 6),
                                                     ['closest_genus',
                                                      'closest_epithet',
                                                      'closest_infra_type',
                                                      'closest_infra_name',
                                                      'authors']]

non_italics_simplified_result.to_csv('vol3_nonitalics_index_output.csv')

In [411]:
text = 'closest_infra_name'
head, sep, tail = text.partition('_')

In [412]:
result_prune_authors.columns

Index(['char_index', 'vol_num', 'page_num', 'block_num', 'block_num_absolute',
       'block_bbox', 'line_num', 'line_wmode', 'line_dir', 'line_bbox',
       'span_num', 'span_size', 'span_flags', 'span_font', 'span_color',
       'span_ascender', 'span_descender', 'span_origin', 'span_bbox',
       'word_num', 'word', 'word_bbox', 'pruned_word', 'pruned_word_bbox',
       'genus_index_pat_match', 'epithet_index_pat_match', 'col_num',
       'epithet_coord_match', 'genus_coord_match', 'genus_mean_coord',
       'epithet_mean_coord', 'potential_genus_match',
       'potential_epithet_match', 'infra_coord_match', 'potential_infra_match',
       'index_page_num', 'closest_genus', 'closest_epithet',
       'closest_infra_type', 'closest_infra_name',
       'potential_epithet_name_match', 'potential_author_match', 'authors'],
      dtype='object')