In [445]:
import fitz
import numpy as np
import pandas as pd
from tqdm import tqdm

import io
from PIL import Image, ImageDraw, ImageFont, ImageColor

import math
import re

### IMPORTING BOOKS

In [446]:
vol1_path = '../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 1.pdf'
vol2_path = '../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 2.pdf'
vol3_path = '../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 3.pdf'

vol1_doc = fitz.open(vol1_path)
vol2_doc = fitz.open(vol2_path)
vol3_doc = fitz.open(vol3_path)

vol1_pages = [vol1_doc[i] for i in range(vol1_doc.page_count)]
vol2_pages = [vol2_doc[i] for i in range(vol2_doc.page_count)]
vol3_pages = [vol3_doc[i] for i in range(vol3_doc.page_count)]

In [447]:
vol1_char_df = pd.read_pickle("../input/char_df/vol1_df.pkl")
vol2_char_df = pd.read_pickle("../input/char_df/vol2_df.pkl")
vol3_char_df = pd.read_pickle("../input/char_df/vol3_df.pkl")

vol1_index = list(range(616, 639)) #inclusive
vol2_index = list(range(703, 725))
vol3_index = list(range(555, 583))

#### Setting Global parameters

In [448]:
TARGET_DPI = 300
mat = fitz.Matrix(TARGET_DPI/ 72, TARGET_DPI/ 72)

### Finding strict matching genera, epithet, and column numbers

In [449]:
def genus_match(row):
    word_rspace_removed = row['word'].rstrip()
    return row['word_num'] == 0 and \
           word_rspace_removed.isalpha() and \
           word_rspace_removed[0].isupper() and word_rspace_removed[1:].islower()
           
def epithet_match(row):
    word_rspace_removed = row['word'].rstrip()
    return row['word_num'] == 0 and \
           word_rspace_removed.isalpha() and \
           word_rspace_removed.islower()

In [450]:
#rightmost point of any bounding box:
def get_center_x0(vol_char_df, page_num, bias = 30):
    """WARNING: Bias = 30 large bias causes miscatagorization in page number in book"""
    df = vol_char_df[vol_char_df['page_num'] == page_num]
    
    right_bound = df['line_bbox'].apply(lambda x : x[2]).max() 
    #leftmost point of any bounding box:
    left_bound = df['line_bbox'].apply(lambda x : x[0]).min()

    return 0.5*(right_bound + left_bound) - bias


def get_col_num(coords, center_x0):
    x0, y0, x1, y1 = coords
    return int(x0 >= center_x0)

In [451]:
all_vol_data_col_num = [(vol1_char_df, vol1_index, vol1_doc),
                        (vol2_char_df, vol2_index, vol2_doc),
                        (vol3_char_df, vol3_index, vol3_doc)]

for vol_char_df ,vol_index, doc in all_vol_data_col_num: 
    #for each volume check if genus pattern / epithet pattern exists within the index part of the book
    vol_char_df['genus_index_pat_match'] = (vol_char_df['page_num'].isin(vol_index)) & (vol_char_df.apply(genus_match, axis = 1))
    vol_char_df['epithet_index_pat_match'] = (vol_char_df['page_num'].isin(vol_index)) & (vol_char_df.apply(epithet_match, axis = 1))
    
    for page_num in tqdm(vol_index):
        center_x0 = get_center_x0(vol_char_df, page_num)
        #find center based on x0 coordinate of each line
        vol_char_df['col_num'] = vol_char_df['line_bbox'].apply(lambda coords : get_col_num(coords, center_x0))

100%|██████████| 23/23 [00:12<00:00,  1.79it/s]
100%|██████████| 22/22 [00:13<00:00,  1.63it/s]
100%|██████████| 28/28 [00:14<00:00,  1.95it/s]

### Genus / epithet flagging 
flagging pages where number of strict genus or epithet patern matches is less than 3 per column

In [452]:
all_vol_data_flagg_strict_match = [(vol1_char_df, vol1_index, vol1_doc, "strickt_match_vol1"),
                                   (vol2_char_df, vol2_index, vol2_doc, "strickt_match_vol2"),
                                   (vol3_char_df, vol3_index, vol3_doc, "strickt_match_vol3")]

for vol_char_df, vol_index, vol_doc, output_name in all_vol_data_flagg_strict_match: 
    #for each volume 
    image_list = []
    genus_flag_list = []
    epithet_flag_list = []
    for page_num in tqdm(vol_index):
        pix_map = vol_doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)

        genus_db = vol_char_df[(vol_char_df['page_num'] == page_num)
                                & (vol_char_df['genus_index_pat_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        epithet_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
                                & (vol_char_df['epithet_index_pat_match'] == True)
                                ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                ].drop_duplicates()

        #genus pattern match flag should check with half page and not entire page:
        for col in range(2):
            num_genus_col = genus_db[genus_db["col_num"] == col].shape[0]
            num_epithet_col = epithet_db[epithet_db["col_num"] == col].shape[0]
            if num_genus_col <= 2:
                genus_flag_list.append((num_genus_col, page_num - vol_index[0] + 1, col))
            if num_epithet_col <= 2:
                epithet_flag_list.append((num_epithet_col, page_num - vol_index[0] + 1, col))

        for coord in genus_db['word_bbox']:
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)

        for coord in epithet_db['word_bbox']:
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#003399"), width=5)

        image_list.append(image)

    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])    
    
    num_flag_pages = len(set([g[1] for g in genus_flag_list] + [e[1] for e in epithet_flag_list]))
    if num_flag_pages > 0: 
        print("***FLAGS***")
        print(f" number of pages to check: {num_flag_pages}")
        if genus_flag_list:
            print("  genera")
            [print(f"\t number of genera: {g_flag[0]}, page number: {g_flag[1]}, column number: {g_flag[2]}") for g_flag in genus_flag_list]
        if epithet_flag_list:
            print("  epithets")
            [print(f"\t number of epithets: {e_flag[0]}, page number: {e_flag[1]}, column number: {e_flag[2]}") for e_flag in epithet_flag_list]

100%|██████████| 23/23 [00:04<00:00,  5.52it/s]

***FLAGS***
 number of pages to check: 3
  genera
	 number of genera: 1, page number: 2, column number: 0
	 number of genera: 0, page number: 20, column number: 1
	 number of genera: 1, page number: 23, column number: 0
  epithets
	 number of epithets: 2, page number: 23, column number: 1

100%|██████████| 22/22 [00:03<00:00,  5.56it/s]

***FLAGS***
 number of pages to check: 2
  genera
	 number of genera: 2, page number: 4, column number: 0
	 number of genera: 1, page number: 4, column number: 1
	 number of genera: 0, page number: 5, column number: 0

100%|██████████| 28/28 [00:04<00:00,  5.84it/s]

***FLAGS***
 number of pages to check: 7
  genera
	 number of genera: 1, page number: 2, column number: 1
	 number of genera: 1, page number: 6, column number: 0
	 number of genera: 1, page number: 21, column number: 0
	 number of genera: 1, page number: 22, column number: 0
	 number of genera: 2, page number: 24, column number: 1
	 number of genera: 0, page number: 26, column number: 1
	 number of genera: 2, page number: 28, column number: 0

Based on flags need to make sure: 
- first find epithet coord match 
- then find genus coord match s.t. word is not in epithet coord match

### match based on coordinates

In [453]:
def is_coord_match(x, x_ref_left, x_ref_right, margin):
    return (x_ref_left - margin <= x[0] and x[0] <= x_ref_left + margin) or (x_ref_right - margin <= x[0] and x[0] <= x_ref_right + margin)

#### epithets

In [456]:
all_vol_data_coord_match = [(vol1_char_df, vol1_index),
                            (vol2_char_df, vol2_index),
                            (vol3_char_df, vol3_index)]

for vol_char_df, vol_index in all_vol_data_coord_match: 
    vol_char_df["epithet_coord_match"] = vol_char_df["word_bbox"].apply(lambda x : False)
    for page_num in tqdm(vol_index):
        margin = 1.25 * vol_char_df[(vol_char_df["epithet_index_pat_match"] == True)]["char_bbox"].apply(lambda x : x[2] - x[0]).mean()
        epithet_char_df = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["epithet_index_pat_match"] == True)]
        epithet_df = epithet_char_df.loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin", "char_bbox"])].drop_duplicates()
        page_epithet_2dic = [{}, {}]
        
        for i in range(epithet_df.shape[0]):
            e_index = str(page_num) + "_" + str(i)
            p0 = epithet_df['word_bbox'].iloc[i]
            x_ref = p0[0]
            col = epithet_df['col_num'].iloc[i]

            ref_neighbors_df = epithet_df[(epithet_df["page_num"] == page_num) & 
                                          (epithet_df["word_bbox"].apply(lambda x : x_ref - margin <= x[0] and x[0] <= x_ref + margin))]
            
            num_neighbors = ref_neighbors_df.shape[0]
            mean_neighbors = ref_neighbors_df["word_bbox"].apply(lambda x : x[0]).mean()
            page_epithet_2dic[col][e_index] = (num_neighbors, mean_neighbors)
        
        mean_left_epithet = max(page_epithet_2dic[0].values(), default = [-1, -1])[1]
        mean_right_epithet = max(page_epithet_2dic[1].values(), default = [-1, -1])[1]

        if mean_left_epithet == -1 or mean_right_epithet == -1:
            mean_valid_col = max(mean_left_epithet, mean_right_epithet)
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "epithet_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : is_coord_match(x, mean_valid_col, mean_valid_col, margin))
        elif mean_left_epithet == -1 and mean_right_epithet == -1:
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "epithet_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : False)
        else: 
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "epithet_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : is_coord_match(x, mean_left_epithet, mean_right_epithet, margin))

100%|██████████| 23/23 [00:01<00:00, 22.71it/s]
100%|██████████| 22/22 [00:01<00:00, 21.34it/s]
100%|██████████| 28/28 [00:01<00:00, 24.99it/s]

In [457]:
all_vol_data_epithet_coord_match_test = [(vol1_char_df, vol1_index, vol1_doc, "epithet_coord_match_pruned_vol1"),
                                         (vol2_char_df, vol2_index, vol2_doc, "epithet_coord_match_pruned_vol2"),
                                         (vol3_char_df, vol3_index, vol3_doc, "epithet_coord_match_pruned_vol3")]

for vol_char_df, vol_index, doc, output_name in all_vol_data_epithet_coord_match_test: 
    #for each volume 
    image_list = []
    
    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)
        
        epithet_coord_db = vol_char_df[(vol_char_df['page_num'] == page_num) & 
                                     (vol_char_df['epithet_coord_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        epithet_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
                                & (vol_char_df['epithet_index_pat_match'] == True)
                                ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                ].drop_duplicates()

        #epithet Coord is orange-pinkish, 5
        for coord in epithet_coord_db["pruned_word_bbox"] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)

        #epithet is blue, 3
        for coord in epithet_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#003399"), width=3)
        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 23/23 [00:04<00:00,  5.68it/s]
100%|██████████| 22/22 [00:03<00:00,  5.70it/s]
100%|██████████| 28/28 [00:04<00:00,  6.01it/s]

In [458]:
# Reminder:
# all_vol_data_coord_match = [(vol1_char_df, vol1_index),
#                             (vol2_char_df, vol2_index),
#                             (vol3_char_df, vol3_index)]
# DOES NOT CHECK IF COORD IS SAME AS EPITHET UNTIL NEXT SECTION!

for vol_char_df, vol_index in all_vol_data_coord_match: 
    #genus and not epithet
    vol_char_df["genus_coord_match"] = vol_char_df["word_bbox"].apply(lambda x : False)
    for page_num in tqdm(vol_index):
        margin = 1.25 * vol_char_df[(vol_char_df["genus_index_pat_match"] == True)]["char_bbox"].apply(lambda x : x[2] - x[0]).mean()
        genus_char_df = vol_char_df[(vol_char_df["page_num"] == page_num) &
                                    (vol_char_df["genus_index_pat_match"] == True)]
        genus_df = genus_char_df.loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin", "char_bbox"])].drop_duplicates()
        page_genus_2dic = [{}, {}]
        
        epithet_left_coord_mean = vol_char_df[(vol_char_df["epithet_coord_match"] == True) &
                                              (vol_char_df["page_num"] == page_num) &
                                              (vol_char_df["col_num"] == 0)
                                             ]['pruned_word_bbox'].apply(lambda x : x[0]).mean()
        epithet_right_coord_mean = vol_char_df[(vol_char_df["epithet_coord_match"] == True) &
                                               (vol_char_df["page_num"] == page_num) &
                                               (vol_char_df["col_num"] == 1)
                                             ]['pruned_word_bbox'].apply(lambda x : x[0]).mean()
        epithet_coord_mean_list = [epithet_left_coord_mean, epithet_right_coord_mean]

        for i in range(genus_df.shape[0]):
            g_index = str(page_num) + "_" + str(i)
            p0 = genus_df['word_bbox'].iloc[i]
            x_ref = p0[0]
            col = genus_df['col_num'].iloc[i]

            ref_neighbors_df = genus_df[(genus_df["page_num"] == page_num) & 
                                        (genus_df["word_bbox"].apply(lambda x : x_ref - margin <= x[0] and x[0] <= x_ref + margin))]

            num_neighbors = ref_neighbors_df.shape[0]
            mean_neighbors = ref_neighbors_df["word_bbox"].apply(lambda x : x[0]).mean()
            if mean_neighbors > epithet_coord_mean_list[col]: 
                mean_neighbors = -1
            page_genus_2dic[col][g_index] = (num_neighbors, mean_neighbors)
        
        mean_left_genus = max(page_genus_2dic[0].values(), default = [-1, -1])[1]
        mean_right_genus = max(page_genus_2dic[1].values(), default = [-1, -1])[1]

        if mean_left_genus == -1 or mean_right_genus == -1:
            mean_valid_col = max(mean_left_genus, mean_right_genus)
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "genus_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : is_coord_match(x, mean_valid_col, mean_valid_col, margin))
        elif mean_left_genus == -1 and mean_right_genus == -1:
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "genus_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : False)
        else: 
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "genus_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : is_coord_match(x, mean_left_genus, mean_right_genus, margin))

100%|██████████| 23/23 [00:00<00:00, 32.02it/s]
100%|██████████| 22/22 [00:00<00:00, 29.64it/s]
100%|██████████| 28/28 [00:00<00:00, 34.47it/s]

In [459]:
all_vol_data_genus_coord_match_test = [(vol1_char_df, vol1_index, vol1_doc, "genus_coord_match_vol1"),
                                       (vol2_char_df, vol2_index, vol2_doc, "genus_coord_match_vol2"),
                                       (vol3_char_df, vol3_index, vol3_doc, "genus_coord_match_vol3")]

for vol_char_df, vol_index, doc, output_name in all_vol_data_genus_coord_match_test: 
    #for each volume 
    image_list = []

    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)
        

        genus_coord_db = vol_char_df[(vol_char_df['page_num'] == page_num) & 
                                     (vol_char_df['genus_coord_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        epithet_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
                                & (vol_char_df['epithet_coord_match'] == True)
                                ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                ].drop_duplicates()

        #genus Coord is orange-pinkish, 5
        for coord in genus_coord_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)
            
        # #epithet is red, 3
        for coord in epithet_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#000099"), width=3)
        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 23/23 [00:04<00:00,  5.71it/s]
100%|██████████| 22/22 [00:03<00:00,  5.77it/s]
100%|██████████| 28/28 [00:04<00:00,  5.99it/s]

#### improving the coord matches 
takes genus coming before epithet into account now

In [460]:
def potential_genus_match(row):
    word_rspace_removed = row['word'].rstrip()
    return row['genus_coord_match'] == True and \
           row['epithet_coord_match'] == False and \
           word_rspace_removed.find("Flore") == -1 and \
           ((word_rspace_removed.isupper() == False and \
             word_rspace_removed.isnumeric() == False) or \
            ((word_rspace_removed == 'X') or (word_rspace_removed =='×')))
           # removing this for-    hg now ... and row['genus_mean_coord'] < row['epithet_mean_coord'] #important to check this only when epithet_coord_match is false?

def potential_epithet_match(row):
    word_rspace_removed = row['word'].rstrip()
    return row['epithet_coord_match'] == True and \
           ((word_rspace_removed.isupper() == False and \
             word_rspace_removed.isnumeric() == False) or \
            (word_rspace_removed == 'X') or (word_rspace_removed =='×'))

In [461]:
vol1_char_df['potential_genus_match'] = vol1_char_df.apply(potential_genus_match, axis = 1)
vol1_char_df['potential_epithet_match'] = vol1_char_df.apply(potential_epithet_match, axis = 1)

vol2_char_df['potential_genus_match'] = vol2_char_df.apply(potential_genus_match, axis = 1)
vol2_char_df['potential_epithet_match'] = vol2_char_df.apply(potential_epithet_match, axis = 1)

vol3_char_df['potential_genus_match'] = vol3_char_df.apply(potential_genus_match, axis = 1)
vol3_char_df['potential_epithet_match'] = vol3_char_df.apply(potential_epithet_match, axis = 1)

In [464]:
all_vol_data_GE_potential_match_test = [(vol1_char_df, vol1_index, vol1_doc, "GE_potential_match_vol1"),
                                        (vol2_char_df, vol2_index, vol2_doc, "GE_potential_match_vol2"),
                                        (vol3_char_df, vol3_index, vol3_doc, "GE_potential_match_vol3")]

for vol_char_df, vol_index, doc, output_name in all_vol_data_GE_potential_match_test: 
    #for each volume 
    image_list = []

    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)
        
        genus_db = vol_char_df[(vol_char_df['page_num'] == page_num) & 
                                     (vol_char_df['potential_genus_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        epithet_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
                                & (vol_char_df['potential_epithet_match'] == True)
                                ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                ].drop_duplicates()

        #genus Coord is orange-pinkish, 5
        for coord in genus_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)
            
        # #epithet is red, 3
        for coord in epithet_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#000099"), width=3)
        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 23/23 [00:03<00:00,  5.77it/s]
100%|██████████| 22/22 [00:03<00:00,  5.89it/s]
100%|██████████| 28/28 [00:04<00:00,  6.11it/s]

### SOME HARDCODING PARTS:

Erianthus

In [465]:
vol1_char_df[vol1_char_df['word'].str.contains('d,IlLIlU')]

,vol_num,page_num,block_num,block_num_absolute,block_bbox,line_num,line_wmode,line_dir,line_bbox,span_num,...,char,char_origin,char_bbox,genus_index_pat_match,epithet_index_pat_match,col_num,epithet_coord_match,genus_coord_match,potential_genus_match,potential_epithet_match
1734317,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,J,"(239.9900665283203, 357.20001220703125)","(239.9900665283203, 352.70001220703125, 242.33...",False,False,1,True,False,False,True
1734318,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,.,"(242.32186889648438, 357.20001220703125)","(242.32186889648438, 352.70001220703125, 243.8...",False,False,1,True,False,False,True
1734319,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,d,"(243.81723022460938, 357.20001220703125)","(243.81723022460938, 352.70001220703125, 246.8...",False,False,1,True,False,False,True
1734320,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,",","(246.8169708251953, 357.20001220703125)","(246.8169708251953, 352.70001220703125, 248.32...",False,False,1,True,False,False,True
1734321,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,I,"(248.3123321533203, 357.20001220703125)","(248.3123321533203, 352.70001220703125, 250.31...",False,False,1,True,False,False,True
1734322,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,l,"(250.30714416503906, 357.20001220703125)","(250.30714416503906, 352.70001220703125, 251.9...",False,False,1,True,False,False,True
1734323,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,L,"(251.9709930419922, 357.20001220703125)","(251.9709930419922, 352.70001220703125, 255.64...",False,False,1,True,False,False,True
1734324,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,I,"(255.638671875, 357.20001220703125)","(255.638671875, 352.70001220703125, 257.642547...",False,False,1,True,False,False,True
1734325,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,l,"(257.63348388671875, 357.20001220703125)","(257.63348388671875, 352.70001220703125, 259.3...",False,False,1,True,False,False,True
1734326,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,U,"(259.2973327636719, 357.20001220703125)","(259.2973327636719, 352.70001220703125, 263.64...",False,False,1,True,False,False,True
1734327,1,624,75,120,"(230.63999938964844, 352.70001220703125, 265.1...",0,0,"(1.0, 0.0)","(230.63999938964844, 352.70001220703125, 265.1...",1,...,.,"(263.6429138183594, 357.20001220703125)","(263.6429138183594, 352.70001220703125, 265.14...",False,False,1,True,False,False,True

based on this image output in volumen 1:
 ![Erianthus](Erianthus.png)

In [466]:
weird_old_char_vol1 = vol1_char_df.loc[1734312:1734328]
weird_old_char_vol1['word']

1734312          Bieb.
1734313           J_JI
1734314           J_JI
1734315           J_JI
1734316           J_JI
1734317    J.d,IlLIlU.
1734318    J.d,IlLIlU.
1734319    J.d,IlLIlU.
1734320    J.d,IlLIlU.
1734321    J.d,IlLIlU.
1734322    J.d,IlLIlU.
1734323    J.d,IlLIlU.
1734324    J.d,IlLIlU.
1734325    J.d,IlLIlU.
1734326    J.d,IlLIlU.
1734327    J.d,IlLIlU.
1734328         hostii
Name: word, dtype: object

In [467]:
weird_old_char_vol1['word_num']

1734312    2
1734313    0
1734314    0
1734315    0
1734316    0
1734317    1
1734318    1
1734319    1
1734320    1
1734321    1
1734322    1
1734323    1
1734324    1
1734325    1
1734326    1
1734327    1
1734328    0
Name: word_num, dtype: int64

In [468]:
#manually fixing the OCR error for J_JI J.d,IlLIlU. hostii Griseb.
vol1_char_df.loc[1734313:1734327, 'word'] = 'Erianthus'
vol1_char_df.loc[1734313:1734327, 'word_num'] = 0
vol1_char_df.loc[1734313:1734327, 'pruned_word'] = 'Erianthus'
temp_word_x0 = vol1_char_df.loc[1734313:1734327, 'word_bbox'].apply(lambda x : x[0]).min()
temp_word_y0 = vol1_char_df.loc[1734313:1734327, 'word_bbox'].apply(lambda x : x[1]).min()
temp_word_x1 = vol1_char_df.loc[1734313:1734327, 'word_bbox'].apply(lambda x : x[2]).max()
temp_word_y1 = vol1_char_df.loc[1734313:1734327, 'word_bbox'].apply(lambda x : x[3]).max()
vol1_char_df.loc[1734313:1734327, 'word_bbox'] =vol1_char_df.loc[1734313:1734327, 'word_bbox'].apply(lambda x : (temp_word_x0, temp_word_y0, temp_word_x1, temp_word_y1))

vol1_char_df.loc[1734313:1734327, 'potential_epithet_match'] = False
vol1_char_df.loc[1734313:1734327, 'potential_genus_match'] = True

### Infra species

In [469]:
# Reminder:
# all_vol_data_coord_match = [(vol1_char_df, vol1_index),
#                             (vol2_char_df, vol2_index),
#                             (vol3_char_df, vol3_index)]
for vol_char_df, vol_index in all_vol_data_coord_match: 
    vol_char_df["infra_coord_match"] = vol_char_df["word_bbox"].apply(lambda x : False)
    for page_num in tqdm(vol_index):

        margin = 1.25 * vol_char_df[(vol_char_df["potential_epithet_match"] == True) | (vol_char_df["potential_genus_match"] == True)]["char_bbox"].apply(lambda x : x[2] - x[0]).mean()
        
        mean_left_epithet = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 0) & (vol_char_df["potential_epithet_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        mean_left_genus = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 0) & (vol_char_df["potential_genus_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        if math.isnan(mean_left_genus):
            mean_left_genus_all = vol_char_df[(vol_char_df["col_num"] == 0) & (vol_char_df["potential_genus_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_left_epithet_all = vol_char_df[(vol_char_df["col_num"] == 0) & (vol_char_df["potential_epithet_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_left_tab = mean_left_epithet_all - mean_left_genus_all
        else: 
            mean_left_tab = mean_left_epithet - mean_left_genus
        
        mean_right_epithet = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 1) & (vol_char_df["potential_epithet_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        mean_right_genus = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["col_num"] == 1) & (vol_char_df["potential_genus_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
        if math.isnan(mean_right_genus):
            mean_right_genus_all = vol_char_df[(vol_char_df["col_num"] == 1) & (vol_char_df["potential_genus_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_right_epithet_all = vol_char_df[(vol_char_df["col_num"] == 1) & (vol_char_df["potential_epithet_match"] == True)]["word_bbox"].apply(lambda x : x[0]).mean()
            mean_right_tab = mean_right_epithet_all - mean_right_genus_all
        else: 
            mean_right_tab = mean_right_epithet - mean_right_genus


        vol_char_df.loc[(vol_char_df["page_num"] == page_num) & (vol_char_df["word_num"] == 0)  , "infra_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["word_num"] == 0)]["word_bbox"].apply(lambda x : is_coord_match(x, mean_left_epithet + mean_left_tab, mean_right_epithet + mean_right_tab, margin))

100%|██████████| 23/23 [00:01<00:00, 22.91it/s]
100%|██████████| 22/22 [00:01<00:00, 21.57it/s]
100%|██████████| 28/28 [00:01<00:00, 24.46it/s]

In [470]:
# Takes longer but makes more sense generally. We will skip it here
# def potential_author_match_infra_coord(row):
#     word = row['word']
#     pruned_word = row['pruned_word']
#     lower_word = word.lower()
#     latin_connectives = r"^\s?et[\s|.]?$|^\s?in[\s|.]?$|^\s?non[\s|.]?$|^\s?&[\s|.]?$|^\s?er[\s|.]?$|^\s?nec[\s|.]?$|^\s?mult[\s|.]?$|^\s?ex[\s|.]?$|^\s?fil[\s|.]?$"
#     infra_symbols = r"^var[\s|.|\b]?$|^subsp[\s|.|\b]?$|^ssp[\s|.|\b]?$|^spp[\s|.|\b]?$|^x[\s|.|\b]?$|^×[\s|.|\b]?$"
#     is_latin_connectives = re.search(latin_connectives, word) != None
#     is_infra_symbol = re.search(infra_symbols, lower_word) != None
#     if pruned_word:
#         is_upper_first = pruned_word[0].isupper()
#     else:
#         is_upper_first = False
#     return (not is_infra_symbol) and (is_upper_first or is_latin_connectives)

def potential_author_match_infra_coord(word):
    lower_word = word.lower()
    latin_connectives = r"^\s?et[\s|.]?$|^\s?in[\s|.]?$|^\s?non[\s|.]?$|^\s?&[\s|.]?$|^\s?er[\s|.]?$|^\s?nec[\s|.]?$|^\s?mult[\s|.]?$|^\s?ex[\s|.]?$|^\s?fil[\s|.]?$"
    infra_symbols = r"^var[\s|.|\b]?$|^subsp[\s|.|\b]?$|^ssp[\s|.|\b]?$|^spp[\s|.|\b]?$|^x[\s|.|\b]?$|^×[\s|.|\b]?$"
    is_latin_connectives = re.search(latin_connectives, word) != None
    is_infra_symbol = re.search(infra_symbols, lower_word) != None
    return (not is_infra_symbol) and (word[0].isupper() or is_latin_connectives)

In [471]:
def has_infra_symbols(word):
    infra_symbols = r"^var[\s|.|\b]?$|^subsp[\s|.|\b]?$|^ssp[\s|.|\b]?$|^spp[\s|.|\b]?$|^x[\s|.|\b]?$|^×[\s|.|\b]?$"
    return re.search(infra_symbols, word) != None

In [472]:
# Reminder:
# all_vol_data_coord_match = [(vol1_char_df, vol1_index),
#                             (vol2_char_df, vol2_index),
#                             (vol3_char_df, vol3_index)]
for vol_char_df, _ in all_vol_data_coord_match:
    vol_char_df["potential_infra_match"] = (vol_char_df['word'].apply(has_infra_symbols)) | \
                                           ((vol_char_df["infra_coord_match"] == True) & (vol_char_df['word'].apply(potential_author_match_infra_coord) == False))

In [473]:
all_vol_dat_infra_match_test = [(vol1_char_df, vol1_index, vol1_doc, "potential_infra_match_vol1"),
                                (vol2_char_df, vol2_index, vol2_doc, "potential_infra_match_vol2"),
                                (vol3_char_df, vol3_index, vol3_doc, "potential_infra_match_vol3")][::-1]

for vol_char_df, vol_index, doc, output_name in all_vol_dat_infra_match_test: 
    #for each volume 
    image_list = []

    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)
        

        infra_coord_db = vol_char_df[(vol_char_df['page_num'] == page_num) & 
                                     (vol_char_df['infra_coord_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        infra_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
                                & (vol_char_df['potential_infra_match'] == True)
                                ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                ].drop_duplicates()

        with_infra_symbols = vol_char_df[(vol_char_df['page_num'] == page_num) &
                                         (vol_char_df['infra_coord_match'] == True) & 
                                         (vol_char_df['word'].apply(has_infra_symbols) == True)
                                        ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                                        ].drop_duplicates()

        #genus Coord is orange-pinkish, 5
        for coord in infra_coord_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0-5, y0-5, x1+5, y1+5), fill=None, outline=ImageColor.getrgb("#003399"), width=7)

        for coord in infra_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0-3, y0-3, x1+3, y1+3), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)
            
        # #epithet is red, 3
        for coord in with_infra_symbols['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#990000"), width=3)

        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 28/28 [00:24<00:00,  1.14it/s]
100%|██████████| 22/22 [00:22<00:00,  1.03s/it]
100%|██████████| 23/23 [00:21<00:00,  1.06it/s]

### page num processings

In [474]:
vol1_char_df['index_page_num'] = vol1_char_df['page_num'] - vol1_index[0] + 1
vol2_char_df['index_page_num'] = vol2_char_df['page_num'] - vol2_index[0] + 1
vol3_char_df['index_page_num'] = vol3_char_df['page_num'] - vol3_index[0] + 1

In [475]:
# all_vol_data_col_num = [(vol1_char_df, vol1_index, vol1_doc),
#                         (vol2_char_df, vol2_index, vol2_doc),
#                         (vol3_char_df, vol3_index, vol3_doc)]

for vol_char_df ,vol_index, vol_doc in all_vol_data_col_num: 
    #for each volume check if genus pattern / epithet pattern exists within the index part of the book
    for page_num in tqdm(vol_index):
        center_x0 = get_center_x0(vol_char_df, page_num, - 30)
        #find center based on x0 coordinate of each line
        vol_char_df['col_num_for_PN'] = vol_char_df['line_bbox'].apply(lambda coords : get_col_num(coords, center_x0))

100%|██████████| 23/23 [00:12<00:00,  1.77it/s]
100%|██████████| 22/22 [00:13<00:00,  1.59it/s]
100%|██████████| 28/28 [00:14<00:00,  1.93it/s]

In [476]:
def is_page_num(row):
    return row['pruned_word'].isnumeric()

In [477]:
# Reminder:
# all_vol_data_coord_match = [(vol1_char_df, vol1_index),
#                             (vol2_char_df, vol2_index),
#                             (vol3_char_df, vol3_index)]
for vol_char_df, vol_index in all_vol_data_coord_match: 
    vol_char_df['page_num_index_pat_match'] = (vol_char_df['page_num'].isin(vol_index)) & (vol_char_df.apply(is_page_num, axis = 1))
    vol_char_df["page_num_coord_match"] = vol_char_df["word_bbox"].apply(lambda x : False)
    for page_num in tqdm(vol_index):
        margin = 1.25 * vol_char_df[(vol_char_df["page_num_index_pat_match"] == True)]["char_bbox"].apply(lambda x : x[2] - x[0]).mean()
        page_num_char_df = vol_char_df[(vol_char_df["page_num"] == page_num) & (vol_char_df["page_num_index_pat_match"] == True)]
        page_num_df = page_num_char_df.loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin", "char_bbox"])].drop_duplicates()
        page_page_num_2dic = [{}, {}]
        
        for i in range(page_num_df.shape[0]):
            e_index = str(page_num) + "_" + str(i)
            p0 = page_num_df['word_bbox'].iloc[i]
            x_ref = p0[2]
            col = page_num_df['col_num_for_PN'].iloc[i]

            ref_neighbors_df = page_num_df[(page_num_df["page_num"] == page_num) & 
                                           (page_num_df["word_bbox"].apply(lambda x : x_ref - margin <= x[2] and x[2] <= x_ref + margin))]
            
            num_neighbors = ref_neighbors_df.shape[0]
            mean_neighbors = ref_neighbors_df["word_bbox"].apply(lambda x : x[2]).mean()
            page_page_num_2dic[col][e_index] = (num_neighbors, mean_neighbors)
        
        mean_left_page_num = max(page_page_num_2dic[0].values(), default = [-1, -1])[1]
        mean_right_page_num = max(page_page_num_2dic[1].values(), default = [-1, -1])[1]

        if mean_left_page_num == -1 or mean_right_page_num == -1:
            mean_valid_col = max(mean_left_page_num, mean_right_page_num)
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "page_num_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : is_coord_match([x[2]], mean_valid_col, mean_valid_col, margin))
        elif mean_left_page_num == -1 and mean_right_page_num == -1:
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "page_num_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : False)
        else: 
            vol_char_df.loc[(vol_char_df["page_num"] == page_num) , "page_num_coord_match"] = vol_char_df[(vol_char_df["page_num"] == page_num)]["pruned_word_bbox"].apply(lambda x : is_coord_match([x[2]], mean_left_page_num, mean_right_page_num, margin))

100%|██████████| 23/23 [00:01<00:00, 16.84it/s]
100%|██████████| 22/22 [00:01<00:00, 15.85it/s]
100%|██████████| 28/28 [00:01<00:00, 22.69it/s]

In [478]:
all_vol_data_PN_test = [(vol1_char_df, vol1_index, vol1_doc, "potential_page_num_match_vol1"),
                        (vol2_char_df, vol2_index, vol2_doc, "potential_page_num_match_vol2"),
                        (vol3_char_df, vol3_index, vol3_doc, "potential_page_num_match_vol3")][::-1]

for vol_char_df, vol_index, doc, output_name in all_vol_data_PN_test: 
    #for each volume 
    image_list = []

    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)
        

        page_num_coord_db = vol_char_df[(vol_char_df['page_num'] == page_num) & 
                                     (vol_char_df['page_num_coord_match'] == True)
                            ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
                            ].drop_duplicates()

        # infra_db = vol_char_df[(vol_char_df['page_num'] == page_num) 
        #                         & (vol_char_df['potential_infra_match'] == True)
        #                         ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
        #                         ].drop_duplicates()

        # with_infra_symbols = vol_char_df[(vol_char_df['page_num'] == page_num) &
        #                                  (vol_char_df['infra_coord_match'] == True) & 
        #                                  (vol_char_df['word'].apply(has_infra_symbols) == True)
        #                                 ].loc[:,~vol_char_df.columns.isin(["char_num", "char", "char_origin",	"char_bbox"])
        #                                 ].drop_duplicates()

        #genus Coord is orange-pinkish, 5
        for coord in page_num_coord_db['word_bbox'] :
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#003399"), width=3)

        # for coord in infra_db['word_bbox'] :
        #     x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
        #     draw.rectangle((x0-3, y0-3, x1+3, y1+3), fill=None, outline=ImageColor.getrgb("#FF7F50"), width=5)
            
        # # #epithet is red, 3
        # for coord in with_infra_symbols['word_bbox'] :
        #     x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
        #     draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#990000"), width=3)

        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 28/28 [00:04<00:00,  6.29it/s]
100%|██████████| 22/22 [00:03<00:00,  6.05it/s]
100%|██████████| 23/23 [00:03<00:00,  5.95it/s]

### catching & hardcoding issues

#### checking potential_infra_match that are not with typical symbols

In [479]:
vol1_char_df[(vol1_char_df['potential_infra_match'] == True) & (vol1_char_df['word'].apply(has_infra_symbols) == False)][["index_page_num", "word"]].drop_duplicates()

Empty DataFrame
Columns: [index_page_num, word]
Index: []

In [480]:
vol2_char_df[(vol2_char_df['potential_infra_match'] == True) & (vol2_char_df['word'].apply(has_infra_symbols) == False)][["index_page_num", "word"]].drop_duplicates()

Empty DataFrame
Columns: [index_page_num, word]
Index: []

In [481]:
vol3_char_df[(vol3_char_df['potential_infra_match'] == True) & (vol3_char_df['word'].apply(has_infra_symbols) == False)][["index_page_num", "word"]].drop_duplicates()

         index_page_num         word
1559345               3           (3
1559874               3           f.
1561502               4           fa
1566359               6       deris
1570483               8         cock
1576678              11           f.
1578491              12       picha
1581443              13  adoxifolium
1582167              14        fil.
1584378              15         yar.
1587338              16           f.
1589927              17           f.
1592932              19           f.
1594835              20     turcicus
1596384              20            y
1598587              22      berlain

In [482]:
remove_infra_index = [1566359, 1570483, 1578491, 1581443, 1582167, 1594835, 1598587]
#temp_df_hard_code_infra = vol3_char_df[(vol3_char_df['potential_infra_match'] == True) & (vol3_char_df['word'].apply(has_infra_symbols) == False)][["index_page_num", "pruned_word"]].drop_duplicates()
#temp_df_hard_code_infra[temp_df_hard_code_infra['pruned_word'].apply(lambda x : len(x) > 3)].index 
#nice ways but won't have everything in them ... so

In [509]:
def get_index_end(vol_df, start_index):
    len_word = len(vol_df.loc[start_index,'word'])
    print(len_word, start_index + len_word)
    return start_index + len_word - 1

set_epithet_index = [1581443]
remove_infra_index = [1570483, 1566359, 1570883, 1570883, 1578491, 1581443, 1582167, 1594835, 1598587]
for i in remove_infra_index:
    vol3_char_df.loc[i : get_index_end(vol3_char_df, i),'potential_infra_match'] = False

for i in set_epithet_index:
    vol3_char_df.loc[i : get_index_end(vol3_char_df, i),'potential_epithet_match'] = True

4 1570487
6 1566365
4 1570887
4 1570887
6 1578497
11 1581454
5 1582172
8 1594843
7 1598594
11 1581454

In [489]:
#cock keeps needing to be pruned multiple times ....??? not sure why ugh
vol3_char_df[(vol3_char_df['potential_infra_match'] == True) & (vol3_char_df['word'].apply(has_infra_symbols) == False)][["index_page_num", "word"]].drop_duplicates()

         index_page_num  word
1559345               3    (3
1559874               3    f.
1561502               4    fa
1576678              11    f.
1584378              15  yar.
1587338              16    f.
1589927              17    f.
1592932              19    f.
1596384              20     y

1596384 -> var with space in between it somehow

In [490]:
ending = get_index_end(vol3_char_df, 1596384)+2
vol3_char_df.loc[1596384 : ending, 'word'] = 'var.'
vol3_char_df.loc[1596384 : ending, 'word_num'] = 0
vol3_char_df.loc[1596384 : ending, 'pruned_word'] = 'var'
vol3_char_df.loc[1596384 : ending, 'potential_infra_match'] = True 
#have to run it again this is problematic now

1 1596385

#### upper case beggining / latin words in epithet coordd

In [492]:
def potential_author_match_epithet_coord(word):
    latin_connectives = r"^\s?et[\s|.]?$|^\s?in[\s|.]?$|^\s?non[\s|.]?$|^\s?&[\s|.]?$|^\s?er[\s|.]?$|^\s?nec[\s|.]?$|^\s?mult[\s|.]?$|^\s?ex[\s|.]?$|^\s?fil[\s|.]?$|^\s?f[\s|.]?$"
    is_latin_connectives = re.search(latin_connectives, word) != None
    is_hybrid = word == "X"
    return is_latin_connectives or (word[0].isupper() and (not is_hybrid))

CHECKED: for vol1 all are okay and are just typos

In [494]:
vol1_char_df[(vol1_char_df['potential_epithet_match'] == True) & (vol1_char_df['word'].apply(potential_author_match_epithet_coord))][["index_page_num", "word"]].drop_duplicates()

         index_page_num        word
1753028              18   Phoenicia
1753527              18    Syriacus
1755122              19  Jilicaulis

CHECKED Vol2 

Hbanoticus -> typo for libanoticus 

Hppii -> typo for lippii

letting fuzzy matching take care of it later :)

**TODO**: Ma -> is supposed to be chia (not easy for fuzzy matching to fix...)

In [495]:
vol2_char_df[(vol2_char_df['potential_epithet_match'] == True) & (vol2_char_df['word'].apply(potential_author_match_epithet_coord))][["index_page_num", "word"]].drop_duplicates()

         index_page_num        word
1915513               4  Hbanoticus
1922530               8       Hppii
1937158              14          Ma

CHECKED vol3

In [496]:
vol3_char_df[(vol3_char_df['potential_epithet_match'] == True) & (vol3_char_df['word'].apply(potential_author_match_epithet_coord))][["index_page_num", "word"]].drop_duplicates()

         index_page_num               word
1554632               1  Krascheninnikovii
1565497               6          Wagenitz
1566524               6           Fritsch
1575185              10              Holub
1575488              11             Holub
1577207              11                 et
1578956              12         Eichwaldii
1579044              12           Schrank
1582101              14            Kuntze
1583001              14             Kuntze
1584639              15    Majoranamaracus
1586349              16     Schiman-Czeika
1586394              16             Czeika
1592464              19             Berth.
1603606              24      DOteriifolium
1608442              26             Turra
1609136              26           Moretti,
1610970              27           Fischer
1611185              27                non

In [499]:
# Eichwaldii, Krascheninnikovii, DOteriifolium (p should be p) -> oki 
# Majoranamaracus -> hybrid situation -> fixed later
not_epithet_index_list = [1565497, 1566524, 1575185, 1575488, 1577207, 1579044, 1582101, 1583001, 1586349, 1586394, 1592464, 1608442, 1609136, 1610970, 1611185]

for i in not_epithet_index_list:
    vol3_char_df.loc[i : get_index_end(vol3_char_df, i),'potential_epithet_match'] = False

9 1565506
8 1566532
5 1575190
6 1575494
2 1577209
8 1579052
7 1582108
6 1583007
14 1586363
6 1586400
6 1592470
6 1608448
8 1609144
8 1610978
3 1611188

In [500]:
vol3_char_df[(vol3_char_df['potential_epithet_match'] == True) & (vol3_char_df['word'].apply(potential_author_match_epithet_coord))][["index_page_num", "word"]].drop_duplicates()

         index_page_num               word
1554632               1  Krascheninnikovii
1578956              12         Eichwaldii
1584639              15    Majoranamaracus
1603606              24      DOteriifolium

#### [**TODO FIX LATER**] epithet coord word has uppper case in the middle (but not the first letter)

In [501]:
def has_upper_not_first(word):
    return word[1:].lower() != word[1:]

In [502]:
vol1_char_df[(vol1_char_df['potential_epithet_match'] == True) & (vol1_char_df['word'].apply(has_upper_not_first))][["index_page_num", "word"]].drop_duplicates()

         index_page_num              word
1716055               1  peregrina(Hack.)
1716156               1        umbeUulata
1734633               9        elatior'L.
1736494              10           sessUis
1737303              11       pilosaHuds.
1741588              13  phleoides^Vill.)
1747388              15            albaL.
1752078              18           aegUops
1752829              18        glaucaVahl
1761043              22        auCheriana

In [503]:
vol2_char_df[(vol2_char_df['potential_epithet_match'] == True) & (vol2_char_df['word'].apply(has_upper_not_first))][["index_page_num", "word"]].drop_duplicates()

         index_page_num                            word
1914061               4            corîdûpUcaÈu^Sretoï.
1917935               6                 securidacaiÇL.)
1941855              17  corymbulosum(Planch.)Reichenb.
1953489              22                       aqUatilis

In [504]:
vol3_char_df[(vol3_char_df['potential_epithet_match'] == True) & (vol3_char_df['word'].apply(has_upper_not_first))][["index_page_num", "word"]].drop_duplicates()

         index_page_num             word
1568523               7      gaiUardotii
1579879              13          albu^L.
1585656              15        sieberiC.
1597633              21     desertiTUéh.
1603606              24    DOteriifolium
1608206              26   agMmoniifolium
1612787              28  'Abd-el-'asissi

#### Potential genus mismatch

potential genus match but name is not alphabetic or is of length < 3

In [505]:
def flag_genus_name(word):
    word_no_space = word.replace(" ", "")
    return ((not word_no_space.isalpha()) or (len(word_no_space) < 3))

In [510]:
vol1_char_df[(vol1_char_df['potential_genus_match'] == True) & (vol1_char_df['word'].apply(flag_genus_name))][["index_page_num", "word"]].drop_duplicates()
#skipping over all these

         index_page_num word
1730943               8    c
1738656              11    f
1754704              19   j.

In [511]:
not_genus_index_list_vol1 = [1730943, 1738656, 1754704]
for i in not_genus_index_list_vol1:
    vol1_char_df.loc[i : get_index_end(vol1_char_df, i),'potential_genus_match'] = False

1 1730944
1 1738657
2 1754706

In [512]:
vol1_char_df[(vol1_char_df['potential_genus_match'] == True) & (vol1_char_df['word'].apply(flag_genus_name))][["index_page_num", "word"]].drop_duplicates()

Empty DataFrame
Columns: [index_page_num, word]
Index: []

In [513]:
vol2_char_df[(vol2_char_df['potential_genus_match'] == True) & (vol2_char_df['word'].apply(flag_genus_name))][["index_page_num", "word"]].drop_duplicates()

         index_page_num            word
1921256               7  •Ceratophyllum
1921779               7    Chelidonium^
1939484              16       Jussiaea-
1939606              16         VV.1l.*

In [515]:
not_genus_index_list_vol2 = [1939606]
for i in not_genus_index_list_vol2:
    vol2_char_df.loc[i : get_index_end(vol2_char_df, i),'potential_genus_match'] = False

7 1939613

In [516]:
vol2_char_df[(vol2_char_df['potential_genus_match'] == True) & (vol2_char_df['word'].apply(flag_genus_name))][["index_page_num", "word"]].drop_duplicates()

         index_page_num            word
1921256               7  •Ceratophyllum
1921779               7    Chelidonium^
1939484              16       Jussiaea-

In [517]:
vol3_char_df[(vol3_char_df['potential_genus_match'] == True) & (vol3_char_df['word'].apply(flag_genus_name))][["index_page_num", "word"]].drop_duplicates()

         index_page_num        word
1559728               3  BallotaL.
1569974               8   CordiaL.
1584638              15           x
1601635              23  SolidagoL.

### pruning char_df and getting index_df

In [107]:
[c for c in vol1_char_df.columns if c.startswith('potential')]

['potential_genus_match', 'potential_epithet_match', 'potential_infra_match']

In [393]:
#making sure page_num is in index
#making sure the genus level word is not all uppercase (a family name)
#making sure the pruned_word is not numeric (removing page_number as it's not in order usually) and removing page_num_coord_match

all_vol_data = [(vol1_char_df, vol1_index),
                (vol2_char_df, vol2_index),
                (vol3_char_df, vol3_index)]

result = [] 
ignore_word_list = ["NOUVELLE", "Flore", "FLORE", "INDEX", ""]
for vol_char_df, vol_index in all_vol_data:
    curr_result_df = vol_char_df[(vol_char_df['page_num'].isin(vol_index)) &
                                (~((vol_char_df["word"].str.isupper()) & (vol_char_df["word"].apply(lambda x : len(x) > 2)) & (vol_char_df['genus_coord_match'] == True))) & 
                                (~(vol_char_df["pruned_word"].isin(ignore_word_list))) &
                                (~(vol_char_df["pruned_word"].str.isnumeric() & (vol_char_df["word"] != "(3"))) & 
                                (~(vol_char_df["page_num_coord_match"] == True))
                                ].copy()
    result.append(curr_result_df)

vol1_index_df, vol2_index_df, vol3_index_df = result[0], result[1], result[2]

In [394]:
all_vol_data_PN_test = [(vol1_index_df, vol1_index, vol1_doc, "valid_words_vol1"),
                        (vol2_index_df, vol2_index, vol2_doc, "valid_words_vol2"),
                        (vol3_index_df, vol3_index, vol3_doc, "valid_words_vol3")]

for vol_char_df, vol_index, doc, output_name in all_vol_data_PN_test: 
    #for each volume 
    image_list = []

    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)
        temp_coords = vol_char_df[vol_char_df['page_num'] == page_num]['word_bbox'].drop_duplicates()
        for coord in temp_coords:
            x0, y0, x1, y1 = [f*TARGET_DPI/ 72 for f in coord]
            draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#003399"), width=3)

        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 23/23 [00:03<00:00,  6.06it/s]
100%|██████████| 22/22 [00:03<00:00,  6.29it/s]
100%|██████████| 28/28 [00:04<00:00,  6.40it/s]

In [395]:
#only keeping word level
vol_index_df_list = [vol1_index_df, vol2_index_df, vol3_index_df]
result_df = []
for vol_index_df in vol_index_df_list:
    keep_cols = vol_index_df.columns.difference(["char_num", "char", "char_origin", "char_bbox"], sort=False).tolist()

    vol_index_df = vol_index_df.copy().loc[:,keep_cols].drop_duplicates().reset_index()
    vol_index_df.rename(columns={"index": "char_index"}, inplace = True)
    result_df.append(vol_index_df)

vol1_index_df, vol2_index_df, vol3_index_df = result_df[0], result_df[1], result_df[2]

In [396]:
def has_hybrid_symbols(word):
    infra_symbols = r"^X[\s|.|\b]?$|^x[\s|.|\b]?$|^×[\s|.|\b]?$"
    return re.search(infra_symbols, word) != None

In [397]:
result_df_hybrids = []
for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    vol_index_df['is_hybrid'] = np.NaN
    vol_index_df.loc[(vol_index_df['potential_infra_match'] == True) | (vol_index_df['potential_epithet_match'] == True) | (vol_index_df['potential_genus_match'] == True), 'is_hybrid'] = (vol_index_df['word'].apply(has_hybrid_symbols) == True) & ((vol_index_df['potential_infra_match'] == True) | (vol_index_df['potential_epithet_match'] == True) | (vol_index_df['potential_genus_match'] == True))
    
    hybrid_genera_indecies = vol_index_df[(vol_index_df['potential_genus_match'] == True) & (vol_index_df['word'].apply(has_hybrid_symbols) == True)].index + 1
    hybrid_epithet_indecies = vol_index_df[(vol_index_df['potential_epithet_match'] == True) & (vol_index_df['word'].apply(has_hybrid_symbols) == True)].index + 1
    
    vol_index_df.loc[hybrid_epithet_indecies, 'is_hybrid'] = True
    vol_index_df.loc[hybrid_epithet_indecies, 'potential_epithet_match'] = True 

    vol_index_df.loc[hybrid_genera_indecies, 'is_hybrid'] = True
    vol_index_df.loc[hybrid_genera_indecies, 'potential_genus_match'] = True

    drop_list = list(hybrid_epithet_indecies - 1) + list(hybrid_genera_indecies -1)
    
    vol_index_df = vol_index_df[~vol_index_df.index.isin(drop_list)].copy()
    vol_index_df['is_hybrid'].ffill(inplace=True)

    result_df_hybrids.append(vol_index_df)

vol1_index_df, vol2_index_df, vol3_index_df = result_df_hybrids[0], result_df_hybrids[1], result_df_hybrids[2]

In [398]:
#df['closest_epithet_v2'] = np.nan
def extract_potential_genus_names(row):
    if row['potential_genus_match'] == True:
        return row['word'] + "_" + str(row['page_num']) + "_" + str(row['block_num']) + "_" + str(row['line_num'])
    else:
        return np.nan
        
for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    vol_index_df['closest_genus'] = vol_index_df.apply(extract_potential_genus_names, axis = 1)
    vol_index_df['closest_genus'].ffill(inplace=True)

In [399]:
#df['closest_epithet_v2'] = np.nan
def extract_potential_epithet_names(row):
    if row['potential_epithet_match'] == True:
        return row['word'] + "_" + str(row['page_num']) + "_" + str(row['block_num']) + "_" + str(row['line_num'])
    else:
        return np.nan

for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    vol_index_df['closest_epithet'] = vol_index_df.apply(extract_potential_epithet_names, axis = 1)
    vol_index_df.loc[vol_index_df['potential_genus_match'] == True, 'closest_epithet'] = -1
    vol_index_df['closest_epithet'].ffill(inplace=True)

In [400]:
def extract_potential_infra_type(row):
    if row['potential_infra_match'] == True:
        return row['word'] + "_" + str(row['page_num']) + "_" + str(row['block_num']) + "_" + str(row['line_num'])
    else:
        return np.nan

for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    vol_index_df.loc[(vol_index_df['potential_epithet_match'] == True) | (vol_index_df['potential_genus_match'] == True), 'closest_infra_type'] = -1
    vol_index_df['closest_infra_type'] = vol_index_df.apply(extract_potential_infra_type, axis = 1)
    vol_index_df.loc[(vol_index_df['potential_infra_match'] == False) & ((vol_index_df['potential_epithet_match'] == True) | (vol_index_df['potential_genus_match'] == True)), 'closest_infra_type'] = -1
    vol_index_df['closest_infra_type'].ffill(inplace=True)

In [401]:
for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    infra_name_match_indecies = vol_index_df[vol_index_df['potential_infra_match'] == True].index + 1
    vol_index_df['closest_infra_name'] = np.NaN
    vol_index_df.loc[infra_name_match_indecies, 'closest_infra_name'] = vol_index_df.apply(lambda row : row['word'] + "_" + str(row['page_num']) + "_" + str(row['block_num']) + "_" + str(row['line_num']) , axis = 1)
    vol_index_df['potential_infra_name_match'] = vol_index_df.index.isin(infra_name_match_indecies)
    vol_index_df.loc[(vol_index_df['potential_infra_match'] == True) | (vol_index_df['potential_epithet_match'] == True) | (vol_index_df['potential_genus_match'] == True), 'closest_infra_name'] = -1
    vol_index_df['closest_infra_name'].ffill(inplace=True)

In [402]:
for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    vol_index_df['potential_author_match'] = (vol_index_df['potential_genus_match'] == False) & \
                                             (vol_index_df['potential_epithet_match'] == False) & \
                                             (vol_index_df['potential_infra_match'] == False) & \
                                             (vol_index_df['potential_infra_name_match'] == False)

In [403]:
vol3_index_df.iloc[100:150, 20:]

,word,word_bbox,pruned_word,pruned_word_bbox,genus_index_pat_match,epithet_index_pat_match,col_num,epithet_coord_match,genus_coord_match,potential_genus_match,...,col_num_for_PN,page_num_index_pat_match,page_num_coord_match,is_hybrid,closest_genus,closest_epithet,closest_infra_type,closest_infra_name,potential_infra_name_match,potential_author_match
100,micrantha,"(26.639999389648438, 548.4010009765625, 63.269...",micrantha,"(26.639999389648438, 548.4010009765625, 63.269...",False,True,0,True,False,False,...,0,False,False,False,Achillea_555_17_0,micrantha_555_25_0,-1,-1,False,False
101,Willd.,"(65.68165588378906, 547.4830322265625, 89.5377...",Willd,"(65.68165588378906, 547.4830322265625, 87.0438...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,micrantha_555_25_0,-1,-1,False,True
102,non,"(113.14447021484375, 547.4830322265625, 127.13...",non,"(113.14447021484375, 547.4830322265625, 127.13...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,micrantha_555_25_0,-1,-1,False,True
103,Willd.,"(129.73193359375, 547.4830322265625, 153.38996...",Willd,"(129.73193359375, 547.4830322265625, 150.93576...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,micrantha_555_25_0,-1,-1,False,True
104,odorata,"(26.639999389648438, 558.0009765625, 54.857971...",odorata,"(26.639999389648438, 558.0009765625, 54.857971...",False,True,0,True,False,False,...,0,False,False,False,Achillea_555_17_0,odorata_555_25_1,-1,-1,False,False
105,W.,"(58.12398147583008, 557.0830078125, 69.0228958...",W,"(58.12398147583008, 557.0830078125, 66.5350189...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,odorata_555_25_1,-1,-1,False,True
106,Koch,"(72.80469512939453, 557.0830078125, 93.1729583...",Koch,"(72.80469512939453, 557.0830078125, 93.1729583...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,odorata_555_25_1,-1,-1,False,True
107,subsp.,"(35.7599983215332, 566.6829833984375, 59.72493...",subsp,"(35.7599983215332, 566.6829833984375, 57.20934...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,odorata_555_25_1,subsp._555_26_0,-1,False,False
108,kotschyi,"(62.08212661743164, 567.6009521484375, 91.2802...",kotschyi,"(62.08212661743164, 567.6009521484375, 91.2802...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,odorata_555_25_1,subsp._555_26_0,kotschyi_555_26_0,True,False
109,(Boiss.),"(93.81856536865234, 566.6829833984375, 120.712...",Boiss,"(96.63214874267578, 566.6829833984375, 115.825...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,odorata_555_25_1,subsp._555_26_0,kotschyi_555_26_0,False,True
110,Bornm.,"(123.61263275146484, 566.6829833984375, 152.07...",Bornm,"(123.61263275146484, 566.6829833984375, 149.57...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,odorata_555_25_1,subsp._555_26_0,kotschyi_555_26_0,False,True
111,var.,"(36.0, 576.2830200195312, 50.695560455322266, ...",var,"(36.0, 576.2830200195312, 48.10472869873047, 5...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,odorata_555_25_1,var._555_27_0,-1,False,False
112,grata,"(53.26164245605469, 577.2009887695312, 72.5696...",grata,"(53.26164245605469, 577.2009887695312, 72.5696...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,odorata_555_25_1,var._555_27_0,grata_555_27_0,True,False
113,Fenzl,"(75.3336181640625, 576.2830200195312, 96.17961...",Fenzl,"(75.3336181640625, 576.2830200195312, 96.17961...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,odorata_555_25_1,var._555_27_0,grata_555_27_0,False,True
114,oligocephala,"(26.8799991607666, 585.8829956054688, 74.90390...",oligocephala,"(26.8799991607666, 585.8829956054688, 74.90390...",False,True,0,True,False,False,...,0,False,False,False,Achillea_555_17_0,oligocephala_555_28_0,-1,-1,False,False
115,DC.,"(78.94608306884766, 585.8829956054688, 94.4722...",DC,"(78.94608306884766, 585.8829956054688, 91.7834...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,oligocephala_555_28_0,-1,-1,False,True
116,A,"(184.0800018310547, 170.50289916992188, 187.37...",A,"(184.0800018310547, 170.50289916992188, 187.37...",False,False,0,False,False,False,...,0,False,False,False,Achillea_555_17_0,oligocephala_555_28_0,-1,-1,False,True
117,santohna,"(229.1999969482422, 146.40098571777344, 262.20...",santohna,"(229.1999969482422, 146.40098571777344, 262.20...",False,True,1,True,False,False,...,0,False,False,False,Achillea_555_17_0,santohna_555_37_0,-1,-1,False,False
118,auct.,"(264.9126281738281, 145.4829864501953, 283.453...",auct,"(264.9126281738281, 145.4829864501953, 280.858...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,santohna_555_37_0,-1,-1,False,True
119,"mult,","(286.5807800292969, 145.4829864501953, 306.630...",mult,"(286.5807800292969, 145.4829864501953, 304.059...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,santohna_555_37_0,-1,-1,False,True
120,non,"(309.7579650878906, 145.4829864501953, 323.588...",non,"(309.7579650878906, 145.4829864501953, 323.588...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,santohna_555_37_0,-1,-1,False,True
121,L.,"(326.2978820800781, 145.4829864501953, 334.233...",L,"(326.2978820800781, 145.4829864501953, 331.741...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,santohna_555_37_0,-1,-1,False,True
122,sulphurea,"(229.44000244140625, 154.5609893798828, 265.15...",sulphurea,"(229.44000244140625, 154.5609893798828, 265.15...",False,True,1,True,False,False,...,0,False,False,False,Achillea_555_17_0,sulphurea_555_37_1,-1,-1,False,False
123,Boiss.,"(266.65679931640625, 153.6429901123047, 288.20...",Boiss,"(266.65679931640625, 153.6429901123047, 286.07...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,sulphurea_555_37_1,-1,-1,False,True
124,teretifolia,"(229.1999969482422, 164.64100646972656, 264.34...",teretifolia,"(229.1999969482422, 164.64100646972656, 264.34...",False,True,1,True,False,False,...,0,False,False,False,Achillea_555_17_0,teretifolia_555_37_2,-1,-1,False,False
125,Ledeb.,"(266.8674621582031, 163.72300720214844, 292.96...",Ledeb,"(266.8674621582031, 163.72300720214844, 290.41...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,teretifolia_555_37_2,-1,-1,False,True
126,non,"(295.8695068359375, 163.72300720214844, 309.69...",non,"(295.8695068359375, 163.72300720214844, 309.69...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,teretifolia_555_37_2,-1,-1,False,True
127,Willd.,"(312.410400390625, 163.72300720214844, 335.672...",Willd,"(312.410400390625, 163.72300720214844, 333.297...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,teretifolia_555_37_2,-1,-1,False,True
128,urumoffii,"(229.67999267578125, 174.00099182128906, 262.9...",urumoffii,"(229.67999267578125, 174.00099182128906, 262.9...",False,True,1,True,False,False,...,0,False,False,False,Achillea_555_17_0,urumoffii_555_38_0,-1,-1,False,False
129,Hal.,"(264.4543151855469, 173.08299255371094, 280.86...",Hal,"(264.4543151855469, 173.08299255371094, 278.20...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,urumoffii_555_38_0,-1,-1,False,True
130,wilhelmsii,"(229.44000244140625, 182.92298889160156, 267.7...",wilhelmsii,"(229.44000244140625, 182.92298889160156, 267.7...",False,True,1,True,False,False,...,0,False,False,False,Achillea_555_17_0,wilhelmsii_555_39_0,-1,-1,False,False
131,C.,"(271.31927490234375, 182.92298889160156, 279.6...",C,"(271.31927490234375, 182.92298889160156, 277.2...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,wilhelmsii_555_39_0,-1,-1,False,True
132,Koch,"(283.4022216796875, 182.92298889160156, 303.41...",Koch,"(283.4022216796875, 182.92298889160156, 303.41...",False,False,1,False,False,False,...,0,False,False,False,Achillea_555_17_0,wilhelmsii_555_39_0,-1,-1,False,True
133,Acinos,"(220.32000732421875, 195.3610076904297, 244.57...",Acinos,"(220.32000732421875, 195.3610076904297, 244.57...",True,False,1,False,True,True,...,0,False,False,False,Acinos_555_40_0,-1,-1,-1,False,False
134,Miller,"(247.83506774902344, 194.44300842285156, 270.9...",Miller,"(247.83506774902344, 194.44300842285156, 270.9...",False,False,1,False,False,False,...,0,False,False,False,Acinos_555_40_0,-1,-1,-1,False,True
135,rotundifolius,"(229.1999969482422, 205.2010040283203, 275.246...",rotundifolius,"(229.1999969482422, 205.2010040283203, 275.246...",False,True,1,True,False,False,...,0,False,False,False,Acinos_555_40_0,rotundifolius_555_41_0,-1,-1,False,False
136,Pers.,"(277.3585510253906, 204.2830047607422, 295.930...",Pers,"(277.3585510253906, 204.2830047607422, 293.453...",False,False,1,False,False,False,...,0,False,False,False,Acinos_555_40_0,rotundifolius_555_41_0,-1,-1,False,True
137,non,"(298.61883544921875, 204.2830047607422, 312.76...",non,"(298.61883544921875, 204.2830047607422, 312.76...",False,False,1,False,False,False,...,0,False,False,False,Acinos_555_40_0,rotundifolius_555_41_0,-1,-1,False,True
138,Friv.,"(315.2616882324219, 204.2830047607422, 333.336...",Friv,"(315.2616882324219, 204.2830047607422, 330.860...",False,False,1,False,False,False,...,0,False,False,False,Acinos_555_40_0,rotundifolius_555_41_0,-1,-1,False,True
139,nee,"(336.0241394042969, 204.2830047607422, 349.002...",nee,"(336.0241394042969, 204.2830047607422, 349.002...",False,False,1,False,False,False,...,0,False,False,False,Acinos_555_40_0,rotundifolius_555_41_0,-1,-1,False,True
140,Host,"(351.305908203125, 204.2830047607422, 368.8645...",Host,"(351.305908203125, 204.2830047607422, 368.8645...",False,False,1,False,False,False,...,0,False,False,False,Acinos_555_40_0,rotundifolius_555_41_0,-1,-1,False,True
141,Aetheorhiza,"(220.55999755859375, 215.80299377441406, 266.2...",Aetheorhiza,"(220.55999755859375, 215.80299377441406, 266.2...",True,False,1,False,True,True,...,0,False,False,False,Aetheorhiza_555_42_0,-1,-1,-1,False,False
142,Cass.,"(270.40948486328125, 215.80299377441406, 289.8...",Cass,"(270.40948486328125, 215.80299377441406, 287.5...",False,False,1,False,False,False,...,0,False,False,False,Aetheorhiza_555_42_0,-1,-1,-1,False,True
143,bulbosa,"(229.9199981689453, 225.4029998779297, 258.743...",bulbosa,"(229.9199981689453, 225.4029998779297, 258.743...",False,True,1,True,False,False,...,0,False,False,False,Aetheorhiza_555_42_0,bulbosa_555_43_0,-1,-1,False,False
144,(L.),"(262.6929931640625, 225.4029998779297, 276.527...",L,"(265.73626708984375, 225.4029998779297, 271.18...",False,False,1,False,False,False,...,0,False,False,False,Aetheorhiza_555_42_0,bulbosa_555_43_0,-1,-1,False,True
145,Cass.,"(280.97039794921875, 225.4029998779297, 300.39...",Cass,"(280.97039794921875, 225.4029998779297, 298.07...",False,False,1,False,False,False,...,0,False,False,False,Aetheorhiza_555_42_0,bulbosa_555_43_0,-1,-1,False,True
146,Ajuga,"(220.8000030517578, 236.92298889160156, 242.75...",Ajuga,"(220.8000030517578, 236.92298889160156, 242.75...",True,False,1,False,True,True,...,0,False,False,False,Ajuga_555_44_0,-1,-1,-1,False,False
147,L.,"(247.1943817138672, 236.92298889160156, 255.03...",L,"(247.1943817138672, 236.92298889160156, 252.63...",False,False,1,False,False,False,...,0,False,False,False,Ajuga_555_44_0,-1,-1,-1,False,True
148,chamaepitys,"(229.67999267578125, 247.6809844970703, 274.67...",chamaepitys,"(229.67999267578125, 247.6809844970703, 274.67...",False,True,1,True,False,False,...,0,False,False,False,Ajuga_555_44_0,chamaepitys_555_45_0,-1,-1,False,False
149,(L.),"(276.17584228515625, 246.7629852294922, 290.01...",L,"(279.2191162109375, 246.7629852294922, 284.663...",False,False,1,False,False,False,...,0,False,False,False,Ajuga_555_44_0,chamaepitys_555_45_0,-1,-1,False,True

In [404]:
for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    vol_index_df.replace(-1, np.NaN, inplace = True)
    vol_index_df.replace(np.NaN, "",inplace = True)

In [405]:
#author grouping 
# 
author_grouping = ['closest_genus', 'closest_epithet', 'closest_infra_name']
merge_on = ['closest_genus', 'closest_epithet', 'closest_infra_name']
def concatenate(group):
    return group.loc[group['potential_author_match'] == True, 'word'].str.cat(sep=' ')

result_df_authors = [] 
for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]: 
    #author_grouping = ['closest_genus', 'closest_epithet']
    #merge_on = ['closest_genus', 'closest_epithet']
    groups = vol_index_df.groupby(author_grouping)
    concatenated = groups.apply(concatenate).reset_index()

    # add the concatenated values to the original dataframe
    result = vol_index_df.merge(concatenated[merge_on + [0]], on=merge_on, how='left').rename(columns={0: 'authors'})
    result_df_authors.append(result)
    
vol1_index_df, vol2_index_df, vol3_index_df = result_df_authors[0], result_df_authors[1], result_df_authors[2]

In [406]:
# for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
#     #vol_index_df.replace("", np.NaN,inplace = True)
#     vol_index_df.replace(np.NaN, "",inplace = True)

In [407]:
all_vol_data_cat_test = [(vol1_index_df, vol1_index, vol1_doc, "catagorized_vol1"),
                         (vol2_index_df, vol2_index, vol2_doc, "catagorized_vol2"),
                         (vol3_index_df, vol3_index, vol3_doc, "catagorized_vol3")]

for vol_char_df, vol_index, doc, output_name in all_vol_data_cat_test: 
    #for each volume 
    image_list = []

    for page_num in tqdm(vol_index):
        pix_map = doc.get_page_pixmap(page_num,matrix=mat)
        image = Image.open(io.BytesIO(pix_map.tobytes()))
        draw = ImageDraw.Draw(image)

        for col_num in [0, 1]:
            temp_df = vol_char_df[(vol_char_df['page_num'] == page_num) & (vol_char_df['col_num'] == col_num)]
            #genus Coord is orange-pinkish, 5
            for name, group in temp_df.groupby(['closest_genus'])['word_bbox']:
                x0 = (group.apply(lambda x : x[0]).min())*TARGET_DPI/ 72
                y0 = (group.apply(lambda x : x[1]).min())*TARGET_DPI/ 72
                x1 = (group.apply(lambda x : x[2]).max())*TARGET_DPI/ 72
                y1 = (group.apply(lambda x : x[3]).max())*TARGET_DPI/ 72
                draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#6939a3"), width=3)

            for name, group in temp_df.groupby(['closest_epithet'])['word_bbox']:
                if name != '':
                    x0 = (group.apply(lambda x : x[0]).min())*TARGET_DPI/ 72
                    y0 = (group.apply(lambda x : x[1]).min())*TARGET_DPI/ 72
                    x1 = (group.apply(lambda x : x[2]).max())*TARGET_DPI/ 72
                    y1 = (group.apply(lambda x : x[3]).max())*TARGET_DPI/ 72
                    draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#003399"), width=3)

            for name, group in temp_df.groupby(['closest_infra_name'])['word_bbox']:
                if name != '':
                    x0 = (group.apply(lambda x : x[0]).min())*TARGET_DPI/ 72
                    y0 = (group.apply(lambda x : x[1]).min())*TARGET_DPI/ 72
                    x1 = (group.apply(lambda x : x[2]).max())*TARGET_DPI/ 72
                    y1 = (group.apply(lambda x : x[3]).max())*TARGET_DPI/ 72
                    draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#8c690b"), width=3)

            temp_df_author_only = temp_df[temp_df['potential_author_match'] == True]
            for name, group in temp_df_author_only.groupby(['closest_genus', 'closest_epithet', 'closest_infra_name'])['word_bbox']:
                x0 = (group.apply(lambda x : x[0]).min())*TARGET_DPI/ 72
                y0 = (group.apply(lambda x : x[1]).min())*TARGET_DPI/ 72
                x1 = (group.apply(lambda x : x[2]).max())*TARGET_DPI/ 72
                y1 = (group.apply(lambda x : x[3]).max())*TARGET_DPI/ 72

                draw.rectangle((x0, y0, x1, y1), fill=None, outline=ImageColor.getrgb("#9e9e9e"), width=3)


        image_list.append(image)

    #save pages of the volume
    image_list[0].save('../output/local/'+output_name+'.pdf' ,save_all=True, append_images=image_list[1:])

100%|██████████| 23/23 [00:04<00:00,  4.66it/s]
100%|██████████| 22/22 [00:04<00:00,  4.68it/s]
100%|██████████| 28/28 [00:05<00:00,  4.73it/s]

In [408]:
def fix_words(word):
    head, sep, tail = word.partition('_')
    return head 

for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    vol_index_df['closest_genus'] = vol_index_df['closest_genus'].apply(fix_words)
    vol_index_df['closest_epithet'] = vol_index_df['closest_epithet'].apply(fix_words)
    vol_index_df['closest_infra_type'] = vol_index_df['closest_infra_type'].apply(fix_words)
    vol_index_df['closest_infra_name'] = vol_index_df['closest_infra_name'].apply(fix_words)

In [409]:
result_prune_authors_list = []
for vol_index_df in [vol1_index_df, vol2_index_df, vol3_index_df]:
    result_prune_authors = vol_index_df[(vol_index_df['potential_genus_match'] == True) |
                                        (vol_index_df['potential_epithet_match'] == True) |
                                        (vol_index_df['potential_infra_name_match'] == True)]
    result_prune_authors_list.append(result_prune_authors)

prune_authors_vol1, prune_authors_vol2, prune_authors_vol3 =  result_prune_authors_list[0], result_prune_authors_list[1], result_prune_authors_list[2]

In [410]:
simplified_vol1 = prune_authors_vol1[['closest_genus',
                                      'closest_epithet',
                                      'closest_infra_type',
                                      'closest_infra_name',
                                      'authors']]
simplified_vol1.to_csv('../output/local/index_output/vol1_index_output.csv')

simplified_vol2 = prune_authors_vol2[['closest_genus',
                                      'closest_epithet',
                                      'closest_infra_type',
                                      'closest_infra_name',
                                      'authors']]
simplified_vol2.to_csv('../output/local/index_output/vol2_index_output.csv')
                                
simplified_vol3 = prune_authors_vol3[['closest_genus',
                                      'closest_epithet',
                                      'closest_infra_type',
                                      'closest_infra_name',
                                      'authors']]
simplified_vol3.to_csv('../output/local/index_output/vol3_index_output.csv')

In [411]:
non_italics_simplified_vol1 = prune_authors_vol1.loc[(prune_authors_vol1['span_flags'] != 6),
                                                     ['closest_genus',
                                                      'closest_epithet',
                                                      'closest_infra_type',
                                                      'closest_infra_name',
                                                      'authors']]
non_italics_simplified_vol1.to_csv('../output/local/index_output/vol1_nonitalics.csv')

non_italics_simplified_vol2 = prune_authors_vol2.loc[(prune_authors_vol2['span_flags'] != 6),
                                                     ['closest_genus',
                                                      'closest_epithet',
                                                      'closest_infra_type',
                                                      'closest_infra_name',
                                                      'authors']]
non_italics_simplified_vol2.to_csv('../output/local/index_output/vol2_nonitalics.csv')

non_italics_simplified_vol3 = prune_authors_vol3.loc[(prune_authors_vol3['span_flags'] != 6),
                                                     ['closest_genus',
                                                      'closest_epithet',
                                                      'closest_infra_type',
                                                      'closest_infra_name',
                                                      'authors']]
non_italics_simplified_vol3.to_csv('../output/local/index_output/vol3_nonitalics.csv')