In [8]:
import fitz
import numpy as np
import pandas as pd
from tqdm import tqdm

# ------------------------ IMPORT VOLUMES ------------------------ #
vol1_path = '../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 1.pdf'
vol2_path = '../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 2.pdf'
vol3_path = '../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 3.pdf'

vol1_doc = fitz.open(vol1_path)
vol2_doc = fitz.open(vol2_path)
vol3_doc = fitz.open(vol3_path)

vol1_pages = [vol1_doc[i] for i in range(vol1_doc.page_count)]
vol2_pages = [vol2_doc[i] for i in range(vol2_doc.page_count)]
vol3_pages = [vol3_doc[i] for i in range(vol3_doc.page_count)]
# ---------------------------------------------------------------- #


# ---------------------- Set Global Values ----------------------- #
TARGET_DPI = 300
mat = fitz.Matrix(TARGET_DPI/ 72, TARGET_DPI/ 72)
# ---------------------------------------------------------------- #


# ------- Functions For Extracting Each CHARACTER and WORD ------- #
#note bbox not adjusted with TARGET_DPI
def page_raw_dict_reformat(vol, page, page_num, word_list):
    """ DOCUMENTATION
    This function appends the characters and relevent information 
    corresponds to it in each page to word_list. Formatted such that 
    word_list is ready to represent each char as a pandas dataframe row 
    with column names:
        ['vol_num', 
         'page_num', 
         'block_num',
         'block_num_absolute', 
         'block_bbox',
         'line_num', 
         'line_wmode', 
         'line_dir', 
         'line_bbox', 
         'span_num',
         'span_size',
         'span_flags', 
         'span_font', 
         'span_color', 
         'span_ascender',
         'span_descender', 
         'span_origin', 
         'span_bbox', 
         'word_num', 
         'word',
         'char_num', 
         'char', 
         'char_origin', 
         'char_bbox']

    INPUTS: 
        vol: String corresponding to volume number 
        page: instance of document at index page_num
        page_num: Int corresponging to page number
        word_list: List to which each character will be appended
    """
    text_blocks = [
        block for block in page.get_text("rawdict")['blocks'] 
        if block['type'] == 0
        ]

    #for each block in text blocks
    for b_i in range(len(text_blocks)):
        b = text_blocks[b_i]
        curr_block_num_abs = b['number']                    #true blcok number
        curr_block_num_reletive = b_i                       #excludes image blocks
        curr_block_bbox = b['bbox']

        for l_i in range(len(b['lines'])):
            l = b['lines'][l_i]
            curr_line_num = l_i
            curr_line_wmode = l['wmode']
            curr_line_dir = l['dir']
            curr_line_bbox = l['bbox']
            
            word_num = 0
            for s_i in range(len(l['spans'])):
                s = l['spans'][s_i]
                span_num = s_i
                span_size = s['size']
                span_flags = s['flags']
                span_font = s['font']
                span_color = s['color']
                span_ascender = s['ascender']
                span_descender = s['descender'] 
                span_chars = s['chars'] 
                span_origin = s['origin'] 
                span_bbox = s['bbox']
                
                span_word = ""
                char_in_words = []
                
                for span_char_i in range(len(span_chars)):
                    c = span_chars[span_char_i]
                    char = c['c']

                    # if we are at the last character of span or a white space character
                    # add word to dictionary
                    if (span_char_i == len(span_chars) - 1) or \
                        (char.isspace() and len(span_word) > 0): 

                        if (span_char_i == len(span_chars) - 1) and (not char.isspace()): 
                            #to ensure that the character in the span is added (if it's not a space)
                            span_word += char
                            char_in_words.append(c)

                        for c_i in range(len(char_in_words)):
                            char_num = c_i 
                            char_origin = char_in_words[c_i]['origin']
                            char_bbox = char_in_words[c_i]['bbox']
                            curr_char = char_in_words[c_i]['c']

                            char_row = {
                                'vol_num': vol,
                                'page_num': page_num,
                                'block_num': curr_block_num_reletive,
                                'block_num_absolute': curr_block_num_abs,
                                'block_bbox': curr_block_bbox,

                                'line_num': curr_line_num,
                                'line_wmode': curr_line_wmode,
                                'line_dir': curr_line_dir,
                                'line_bbox': curr_line_bbox,
                                
                                'span_num': span_num,
                                'span_size': span_size,
                                'span_flags': span_flags,
                                'span_font': span_font,
                                'span_color': span_color,
                                'span_ascender': span_ascender,
                                'span_descender': span_descender,
                                'span_origin': span_origin,
                                'span_bbox': span_bbox,

                                'word_num': word_num, #in the entire line
                                'word': span_word,

                                'char_num': c_i,
                                'char': curr_char,
                                'char_origin': char_origin,
                                'char_bbox': char_bbox
                            }
                            word_list.append(char_row)

                        word_num += 1
                        span_word = ''
                        char_in_words = []
                    elif not char.isspace():  
                        span_word += char
                        char_in_words.append(c)
                    #only other possibility is that is it a white space in which case we can ignore it

def book_char_df(vol, pages):
    word_list = []
    for page_num in tqdm(range(len(pages))):
        page = pages[page_num]
        page_raw_dict_reformat(vol, page, page_num, word_list)
    return pd.DataFrame(word_list)
# ---------------------------------------------------------------- #


# ------------------------- Process words ------------------------ #
def process_words_in_place(vol_df, drop_coords = True):
    #get word_bbox, prune_word -> word after pruning non-alphanumeric characters in a word (affects word_bbox)
    print("get alphanumeric part of words ... ")
    alnum_word = lambda word : ''.join(c for c in word if c.isalnum())
    vol_df["pruned_word"] = vol_df["word"].apply(alnum_word)

    print("setting word and character coordinates ...")
    coords_str = ["char_x0", "char_y0", "char_x1", "char_y1"]
    for i in range(len(coords_str)):
        vol_df[coords_str[i]] = vol_df["char_bbox"].apply(lambda x: x[i])
    
    non_alnum_coord_toNaN = lambda r, col_result: r[col_result] if r["char"].isalnum() else np.NaN 
    vol_df["pruned_char_x0"] = vol_df.apply(lambda r : non_alnum_coord_toNaN(r, "char_x0"), axis = 1)
    vol_df["pruned_char_y0"] = vol_df.apply(lambda r : non_alnum_coord_toNaN(r, "char_y0"), axis = 1)
    vol_df["pruned_char_x1"] = vol_df.apply(lambda r : non_alnum_coord_toNaN(r, "char_x1"), axis = 1)
    vol_df["pruned_char_y1"] = vol_df.apply(lambda r : non_alnum_coord_toNaN(r, "char_y1"), axis = 1)

    group_cols = vol_df.columns.difference(["char_num", "char", "char_origin", "char_bbox", "char_x0", "char_y0", "char_x1", "char_y1", "pruned_char_x0", "pruned_char_y0", "pruned_char_x1", "pruned_char_y1"], sort=False).tolist()
    print("grouping the words ...")
    #for each word get the coordinates of boundary box
    vol_df["word_x0"] = vol_df.groupby(group_cols)['char_x0'].transform('min')
    vol_df["word_y0"] = vol_df.groupby(group_cols)['char_y0'].transform('min')
    vol_df["word_x1"] = vol_df.groupby(group_cols)['char_x1'].transform('max')
    vol_df["word_y1"] = vol_df.groupby(group_cols)['char_y1'].transform('max')

    vol_df["pruned_word_x0"] = vol_df.groupby(group_cols)['pruned_char_x0'].transform('min')
    vol_df["pruned_word_y0"] = vol_df.groupby(group_cols)['pruned_char_y0'].transform('min')
    vol_df["pruned_word_x1"] = vol_df.groupby(group_cols)['pruned_char_x1'].transform('max')
    vol_df["pruned_word_y1"] = vol_df.groupby(group_cols)['pruned_char_y1'].transform('max')

    print("getting bounding box tuples ...")
    #from single coords to bbox tuples
    vol_df["word_bbox"] = vol_df.apply(lambda r: (r["word_x0"], r["word_y0"], r["word_x1"], r["word_y1"]), axis = 1)
    vol_df["pruned_word_bbox"] = vol_df.apply(lambda r: (r["pruned_word_x0"], r["pruned_word_y0"], r["pruned_word_x1"], r["pruned_word_y1"]), axis = 1)

    if drop_coords:
        print("dropping single coordinate columns ...")
        vol_df.drop(columns= ["char_x0", "char_y0", "char_x1", "char_y1", 
                              "word_x0", "word_y0", "word_x1", "word_y1",
                              "pruned_char_x0", "pruned_char_y0", "pruned_char_x1", "pruned_char_y1",
                              "pruned_word_x0", "pruned_word_y0", "pruned_word_x1", "pruned_word_y1"
                             ], inplace = True)

# ---------------------------------------------------------------- #


# ----------------------- Order columns ---------------------- #
# only useful when seeing the dataframe visually and is not necessary
#      so can be removed
def rearrange_cols(vol_df): 
    vol_based =   [c for c in vol_df.columns if c.startswith("vol")]
    page_based =  [c for c in vol_df.columns if c.startswith("page")]
    block_based = [c for c in vol_df.columns if c.startswith("block")]
    line_based =  [c for c in vol_df.columns if c.startswith("line")]
    span_based =  [c for c in vol_df.columns if c.startswith("span")]
    word_based =  [c for c in vol_df.columns if c.startswith("word")]
    prune_based = [c for c in vol_df.columns if c.startswith("pruned")]
    char_based =  [c for c in vol_df.columns if c.startswith("char")]

    new_cols = vol_based + \
               page_based + \
               block_based + \
               line_based + \
               span_based + \
               word_based + \
               prune_based + \
               char_based 
    if len(new_cols) == len(vol_df.columns): 
        print("columns successfully rearranged")
        return vol_df[new_cols]
    else: 
        print("**WARNING** \n \t columns not rearranged")
        return vol_df
# ---------------------------------------------------------------- #


# ----------------------- Extract And Save ----------------------- #
print("\nextracting volume 1")
vol1_df = book_char_df("1", vol1_pages)
process_words_in_place(vol1_df)
vol1_df = rearrange_cols(vol1_df)

print("\nextracting volume 2")
vol2_df = book_char_df("2", vol2_pages)
process_words_in_place(vol2_df)
vol2_df = rearrange_cols(vol2_df)

print("\nextracting volume 3")
vol3_df = book_char_df("3", vol3_pages)
process_words_in_place(vol3_df)
vol3_df = rearrange_cols(vol3_df)

print("\n\nSaving volume 1")
vol1_df.to_pickle("../input/char_df/vol1_df.pkl")

print("Saving volume 2")
vol2_df.to_pickle("../input/char_df/vol2_df.pkl")

print("Saving volume 3")
vol3_df.to_pickle("../input/char_df/vol3_df.pkl")
# ---------------------------------------------------------------- #

extracting volume 1

100%|██████████| 642/642 [00:12<00:00, 53.02it/s]

extracting volume 2

100%|██████████| 725/725 [00:10<00:00, 66.51it/s]

extracting volume 3

100%|██████████| 588/588 [00:09<00:00, 64.89it/s]

In [10]:
vol1_df[vol1_df['word'].apply(lambda x : x == " ")]

Empty DataFrame
Columns: [vol_num, page_num, block_num, block_num_absolute, block_bbox, line_num, line_wmode, line_dir, line_bbox, span_num, span_size, span_flags, span_font, span_color, span_ascender, span_descender, span_origin, span_bbox, word_num, word, char_num, char, char_origin, char_bbox]
Index: []

[0 rows x 24 columns]

In [13]:
vol1_df

,vol_num,page_num,block_num,block_num_absolute,block_bbox,line_num,line_wmode,line_dir,line_bbox,span_num,...,span_ascender,span_descender,span_origin,span_bbox,word_num,word,char_num,char,char_origin,char_bbox
0,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,0,A,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 119.4..."
1,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,1,U,"(119.42528533935547, 136.92001342773438)","(119.42528533935547, 127.92001342773438, 128.0..."
2,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,2,T,"(127.97057342529297, 136.92001342773438)","(127.97057342529297, 127.92001342773438, 135.2..."
3,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,3,R,"(135.19717407226562, 136.92001342773438)","(135.19717407226562, 127.92001342773438, 143.1..."
4,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,4,E,"(143.0890655517578, 136.92001342773438)","(143.0890655517578, 127.92001342773438, 150.34..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1761799,1,641,5,7,"(134.63999938964844, 294.22998046875, 245.3221...",0,0,"(1.0, 0.0)","(134.63999938964844, 294.22998046875, 245.3221...",0,...,0.75,-0.25,"(134.63999938964844, 299.47998046875)","(134.63999938964844, 294.22998046875, 245.3221...",3,SOIXANTE-SIX,7,E,"(227.60250854492188, 299.47998046875)","(227.60250854492188, 294.22998046875, 232.2247..."
1761800,1,641,5,7,"(134.63999938964844, 294.22998046875, 245.3221...",0,0,"(1.0, 0.0)","(134.63999938964844, 294.22998046875, 245.3221...",0,...,0.75,-0.25,"(134.63999938964844, 299.47998046875)","(134.63999938964844, 294.22998046875, 245.3221...",3,SOIXANTE-SIX,8,-,"(232.03839111328125, 299.47998046875)","(232.03839111328125, 294.22998046875, 234.3461..."
1761801,1,641,5,7,"(134.63999938964844, 294.22998046875, 245.3221...",0,0,"(1.0, 0.0)","(134.63999938964844, 294.22998046875, 245.3221...",0,...,0.75,-0.25,"(134.63999938964844, 299.47998046875)","(134.63999938964844, 294.22998046875, 245.3221...",3,SOIXANTE-SIX,9,S,"(234.15965270996094, 299.47998046875)","(234.15965270996094, 294.22998046875, 238.0137..."
1761802,1,641,5,7,"(134.63999938964844, 294.22998046875, 245.3221...",0,0,"(1.0, 0.0)","(134.63999938964844, 294.22998046875, 245.3221...",0,...,0.75,-0.25,"(134.63999938964844, 299.47998046875)","(134.63999938964844, 294.22998046875, 245.3221...",3,SOIXANTE-SIX,10,I,"(237.82630920410156, 299.47998046875)","(237.82630920410156, 294.22998046875, 240.5231..."
1761803,1,641,5,7,"(134.63999938964844, 294.22998046875, 245.3221...",0,0,"(1.0, 0.0)","(134.63999938964844, 294.22998046875, 245.3221...",0,...,0.75,-0.25,"(134.63999938964844, 299.47998046875)","(134.63999938964844, 294.22998046875, 245.3221...",3,SOIXANTE-SIX,11,X,"(240.3175048828125, 299.47998046875)","(240.3175048828125, 294.22998046875, 245.32212..."

In [17]:
vol1_df.head(50)

,vol_num,page_num,block_num,block_num_absolute,block_bbox,line_num,line_wmode,line_dir,line_bbox,span_num,...,span_ascender,span_descender,span_origin,span_bbox,word_num,word,char_num,char,char_origin,char_bbox
0,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,0,A,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 119.4..."
1,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,1,U,"(119.42528533935547, 136.92001342773438)","(119.42528533935547, 127.92001342773438, 128.0..."
2,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,2,T,"(127.97057342529297, 136.92001342773438)","(127.97057342529297, 127.92001342773438, 135.2..."
3,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,3,R,"(135.19717407226562, 136.92001342773438)","(135.19717407226562, 127.92001342773438, 143.1..."
4,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,4,E,"(143.0890655517578, 136.92001342773438)","(143.0890655517578, 127.92001342773438, 150.34..."
5,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",0,AUTRES,5,S,"(150.31759643554688, 136.92001342773438)","(150.31759643554688, 127.92001342773438, 156.9..."
6,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",1,OUVRAGES,0,O,"(162.93417358398438, 136.92001342773438)","(162.93417358398438, 127.92001342773438, 171.5..."
7,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",1,OUVRAGES,1,U,"(171.34521484375, 136.92001342773438)","(171.34521484375, 127.92001342773438, 179.9245..."
8,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",1,OUVRAGES,2,V,"(179.75625610351562, 136.92001342773438)","(179.75625610351562, 127.92001342773438, 188.3..."
9,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",1,OUVRAGES,3,R,"(188.16729736328125, 136.92001342773438)","(188.16729736328125, 127.92001342773438, 196.0..."
10,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",1,OUVRAGES,4,A,"(195.92494201660156, 136.92001342773438)","(195.92494201660156, 127.92001342773438, 204.5..."
11,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",1,OUVRAGES,5,G,"(204.3359832763672, 136.92001342773438)","(204.3359832763672, 127.92001342773438, 212.91..."
12,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",1,OUVRAGES,6,E,"(212.7470245361328, 136.92001342773438)","(212.7470245361328, 127.92001342773438, 220.00..."
13,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",1,OUVRAGES,7,S,"(219.8394012451172, 136.92001342773438)","(219.8394012451172, 127.92001342773438, 226.44..."
14,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",2,DU,0,D,"(232.21600341796875, 136.92001342773438)","(232.21600341796875, 127.92001342773438, 240.7..."
15,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",2,DU,1,U,"(240.71060180664062, 136.92001342773438)","(240.71060180664062, 127.92001342773438, 249.2..."
16,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",3,MÊME,0,M,"(255.0592041015625, 136.92001342773438)","(255.0592041015625, 127.92001342773438, 265.62..."
17,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",3,MÊME,1,Ê,"(265.4518127441406, 136.92001342773438)","(265.4518127441406, 127.92001342773438, 272.70..."
18,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",3,MÊME,2,M,"(272.54180908203125, 136.92001342773438)","(272.54180908203125, 127.92001342773438, 283.1..."
19,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",3,MÊME,3,E,"(282.9320983886719, 136.92001342773438)","(282.9320983886719, 127.92001342773438, 290.18..."
20,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",4,AUTEUR,0,A,"(295.720947265625, 136.92001342773438)","(295.720947265625, 127.92001342773438, 304.300..."
21,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",4,AUTEUR,1,U,"(304.3280334472656, 136.92001342773438)","(304.3280334472656, 127.92001342773438, 312.90..."
22,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",4,AUTEUR,2,T,"(312.93511962890625, 136.92001342773438)","(312.93511962890625, 127.92001342773438, 320.1..."
23,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",4,AUTEUR,3,E,"(320.2235107421875, 136.92001342773438)","(320.2235107421875, 127.92001342773438, 327.48..."
24,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",4,AUTEUR,4,U,"(327.51190185546875, 136.92001342773438)","(327.51190185546875, 127.92001342773438, 336.0..."
25,1,0,0,0,"(110.87999725341797, 127.92001342773438, 344.0...",0,0,"(1.0, 0.0)","(110.87999725341797, 127.92001342773438, 344.0...",0,...,0.75,-0.25,"(110.87999725341797, 136.92001342773438)","(110.87999725341797, 127.92001342773438, 344.0...",4,AUTEUR,5,R,"(336.1288146972656, 136.92001342773438)","(336.1288146972656, 127.92001342773438, 344.05..."
26,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",0,La,0,L,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 64.54..."
27,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",0,La,1,a,"(64.73150634765625, 193.55999755859375)","(64.73150634765625, 186.05999755859375, 69.681..."
28,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",1,végétation,0,v,"(74.38005065917969, 193.55999755859375)","(74.38005065917969, 186.05999755859375, 78.774..."
29,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",1,végétation,1,é,"(78.77565002441406, 193.55999755859375)","(78.77565002441406, 186.05999755859375, 83.169..."
30,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",1,végétation,2,g,"(83.17124938964844, 193.55999755859375)","(83.17124938964844, 186.05999755859375, 88.121..."
31,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",1,végétation,3,é,"(88.12124633789062, 193.55999755859375)","(88.12124633789062, 186.05999755859375, 92.515..."
32,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",1,végétation,4,t,"(92.516845703125, 193.55999755859375)","(92.516845703125, 186.05999755859375, 95.26737..."
33,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",1,végétation,5,a,"(95.26904296875, 193.55999755859375)","(95.26904296875, 186.05999755859375, 100.21903..."
34,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",1,végétation,6,t,"(100.21903991699219, 193.55999755859375)","(100.21903991699219, 186.05999755859375, 102.9..."
35,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",1,végétation,7,i,"(102.97123718261719, 193.55999755859375)","(102.97123718261719, 186.05999755859375, 105.7..."
36,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",1,végétation,8,o,"(105.72343444824219, 193.55999755859375)","(105.72343444824219, 186.05999755859375, 110.6..."
37,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",1,végétation,9,n,"(110.67343139648438, 193.55999755859375)","(110.67343139648438, 186.05999755859375, 115.6..."
38,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,0,a,"(120.32196807861328, 193.55999755859375)","(120.32196807861328, 186.05999755859375, 125.2..."
39,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,1,r,"(125.27196502685547, 193.55999755859375)","(125.27196502685547, 186.05999755859375, 129.1..."
40,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,2,b,"(129.12306213378906, 193.55999755859375)","(129.12306213378906, 186.05999755859375, 134.0..."
41,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,3,o,"(134.07305908203125, 193.55999755859375)","(134.07305908203125, 186.05999755859375, 139.0..."
42,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,4,r,"(139.02305603027344, 193.55999755859375)","(139.02305603027344, 186.05999755859375, 142.8..."
43,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,5,e,"(142.87416076660156, 193.55999755859375)","(142.87416076660156, 186.05999755859375, 147.2..."
44,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,6,s,"(147.26976013183594, 193.55999755859375)","(147.26976013183594, 186.05999755859375, 151.1..."
45,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,7,c,"(151.12086486816406, 193.55999755859375)","(151.12086486816406, 186.05999755859375, 155.5..."
46,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,8,e,"(155.51646423339844, 193.55999755859375)","(155.51646423339844, 186.05999755859375, 159.9..."
47,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,9,n,"(159.9120635986328, 193.55999755859375)","(159.9120635986328, 186.05999755859375, 164.86..."
48,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,10,t,"(164.862060546875, 193.55999755859375)","(164.862060546875, 186.05999755859375, 167.612..."
49,1,0,1,1,"(59.040000915527344, 186.05999755859375, 419.9...",0,0,"(1.0, 0.0)","(59.040000915527344, 186.05999755859375, 419.9...",0,...,0.75,-0.25,"(59.040000915527344, 193.55999755859375)","(59.040000915527344, 186.05999755859375, 262.1...",2,arborescente,11,e,"(167.6142578125, 193.55999755859375)","(167.6142578125, 186.05999755859375, 172.00834..."